<div class="col-md-6 mb-30 calculator nmc">
  <div class="item">
    <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
      <div class="thumb mb-20">
        <%= image_tag 'kalkulatory/nmc.jpg', alt: 'kalkulator nalezna masa ciala' %>
      </div>

      <div class="content flip p-25 pt-0">
        <h4 class="mt-0 text-center ">
          Należna Masa Ciała
          <span class="text-theme-colored">NMC</span>
        </h4>

        <p class="text-justify">
          Jest to należna masa ciała dla danej płci i wzrostu. Obliczana na podstawie wzoru Lorentza.
        </p>

        <div class="tab-content border-gray-lightgray p-20">

          <div id="nmc-calculator">
            <div class="p-0 pt-20">
              <label>Wzrost w cm</label>
              <input required type="text" class="form-control" id="nmc_height" name="nmc_height" placeholder="np. 172">
            </div>
            <div class="p-0 pt-20">
              <label>Płeć</label>
              <%= select_tag 'nmc_gender', options_for_select(gender_options), class: 'form-control' %>
            </div>
            <div class="p-0 pt-20">
              <input id="submit-button-nmc" type="submit" class="btn btn-sm btn-theme-colored text-uppercase" value="Oblicz">
            </div>
            <div class="clearfix"></div>
          </div>

          <div id="nmc-result">
            <hr>
            <h3>Wynik: <span id="nmc-result-number"></span> kg</h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
