<div class="header-top sm-text-center bg-theme-colored">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-6">
        <div class="widget m-0 mt-5 mb-5 no-border">
          <ul class="list-inline text-right sm-text-center">
            <li class="pl-10 pr-10 mb-0 pb-0">
              <div class="header-widget text-white">
                <i class="fa fa-phone"></i>
                <a class="text-white font-weight-700" href="tel:510 946 225">510 946 225</a>
              </div>
            </li>
            <li class="pl-10 pr-10 mb-0 pb-0">
              <div class="header-widget text-white font-weight-700">
                <i class="fa fa-envelope-o"></i>
                <%= mail_to 'ale.kucharczyk@gmail.com', 'kontakt@fitmymind.pl', class: 'text-white', target: '_blank' %></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 text-right flip sm-text-center">
        <div class="widget" style="margin: 5px 0 0 0; line-height: 1.0">
          <ul class="social-icons icon-dark icon-circled icon-theme-colored icon-sm">

            <li class="mb-0 pb-0">
              <a href="https://www.facebook.com/Aleksandra-Kucharczyk-Dietetyk-2839618429385669" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>

            <li class="mb-0 pb-0">
              <a href="#" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </li>

            <li class="mb-0 pb-0">
              <a href="https://www.linkedin.com/in/aleksandra-kucharczyk-646a66116/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>

            <li class="mb-0 pb-0">
              <a href="https://www.znanylekarz.pl/aleksandra-kucharczyk-3/dietetyk/krakow" target="_blank">
                <i class="fa fa-stethoscope"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
