<section id="service-metamorphosis">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-7">
          <div class="caption">
            <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
              Metamorfoza
            </h2>

            <h4 class="text-uppercase letter-space-3 mb-30">
              5 specjalistów aby zmienić Cię nie do poznania
            </h4>

            <p class="text-justify">
              Metamorfoza jest planem niestandardowym. Jako nieliczny na rynku łączy w sobie wysiłek 5 specjalistów
              którzy razm z tobą pracują na całkowitą przemianę fizyczną i psychiczną. Jest to plan długofalowy który ma
              na celu odmienić twoje życie, a nie tylko zrzucić kilka kilogramów. Metamorfoza jest planem dedykowanym
              dla ludzi którzy mają mało czasu, chcą całkowicie zmienić swoje życie na lepsze i szukają najlepszych
              specjalistów w swoich dziedzinach.
            </p>

            <p>
              <b>Dietetyk</b> - będzie odpowiedzialny za utratę wagi, lepszy sen, odżywienie organizmu, zwiększenie
              energii i lepsze samopoczucie.
            </p>

            <p>
              <b>Lekarz</b> - będzie nadzorował i konsultował wyniki twoich badań, dawał zalecenia i czuwał nad twoim
              zdrowiem.
            </p>

            <p>
              <b>Trener</b> - będzie wspomagał proces odchudzania, nabierania zgrabnej i umięsnionej sylwetki.
            </p>

            <p>
              <b>Fizjoterapeuta</b> - będzie leczyć dawne kontuzje oraz będzie dbać o twoje stawy, kręgosłup i mięśnie
              aby twoje ciało nadążało nad utratą wagi.
            </p>

            <p>
              <b>Coach</b> - będzie budował motywacje, pewność siebie i pomagał w trudnych chwilach, aby umysł był
              przygotowany na nowe ja.
            </p>

            <p>
              <b>Bonus</b> - w postaci Stylistki i Kosmetyczki dla "podrasowania" efektów. Skoro zmieniasz się o 180
              stopni, warto pójść za ciosem i zmienić swoją garderobe, czy poprawić swoją. Często zmiany w stylu naszego
              wyglądu uważamy za finałowy krok do nowego "ja".
            </p>

            <p>
              Wyobraź sobie nowego siebie za 4-6 miesięcy od teraz, szczuplejszego o 20kg, z wyleczonymi chorobami i
              odstawionymi lekami, w formie fizycznej z przed 20 lat, nie bolącym kręgosłupem czy kolanami, zmotywowanym i
              z myśleniem typu "I can do", w dodatku w nowym stylu. Nie możemy Ci zagwarantować powyższego scenariusza,
              ale nie jest on rzadki wśród pacjentów metamorfozy.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <%= image_tag 'uslugi/usluga_bonne_sante.jpg', alt: 'uslugi bonne sante' %>
        </div>
      </div>
    </div>
  </div>
</section>
