<section id="service-bonne-sante">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-7">
          <div class="caption">
            <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
              Bonne Sante
            </h2>

            <h4 class="text-uppercase letter-space-3 mb-30">
              Miesięczny plan z cotygodniowymi wizytami
            </h4>

            <p class="text-justify">
              Nadwaga, otyłość, cukrzyca, choroby układu krążenia to jedne z nielicznych jednostek chorobowych, które
              zależą od naszego żywienia. Dieta oraz styl życia ma ogromny wpływ na funkcjonowanie naszego organizmu.
            </p>

            <p>
              Bonne Sante jest konceptem który poprzez innowacyjną metodologię pomaga wykształcić prawidłowe nawyki
              żywieniowe. Proponujemy zrównoważony sposób odżywiania, dzięki któremu zrealizujesz swój wymarzony cel.
              Kuracja polega na cotygodniowych wizytach, które są kluczem do sukcesu. Podejmując z nami współpracę
              otrzymujesz 4 tygodniowy plan żywieniowy, 4 wizyty kontrolne z analizą składu ciała oraz wsparcie
              motywacyjne przez cały etap kuracji. Skuteczność naszego działania opieramy na 3 etapach: OCZYSZCZANIE,
              SPALANIE i STABILIZACJA.
            </p>

            <p>
              Pierwsza wizyta jest najważniejszym krokiem do ułożenia indywidualnego planu żywienia. To właśnie na niej
              dietetyk wykonuje szczegółową analizę składu ciała, dzięki której dowiesz się czy Twój organizm jest
              odpowiednio nawodniony, poznasz swoje zapotrzebowanie energetyczne oraz procentową zawartość tkanki
              tłuszczowej oraz masy mięśniowej. Tylko dzięki przeprowadzeniu dokładnej analizy składu ciała możemy
              prawidłowo dostosować dietę. Podczas pierwszej wizyty zostanie również przeprowadzony wywiad żywieniowy i
              medyczny, dzięki któremu plan diety dostosowany jest do Twojego stylu życia.
            </p>

            <p>
              Podczas cotygodniowych wizyt kontrolnych oprócz pomiarów składu ciała i monitoringu skuteczności kuracji,
              będziesz otrzymywać od dietetyka materiały psychodietetyczne i motywacyjne. Dowiesz się jak skutecznie
              zmienić nawyki żywieniowe i jak zbudować silną motywację. Element materiałów psychodietetycznych pełni
              bardzo ważną rolę, aby poznać źródło problemów, które uniemożliwiają osiągnięcie celu. Nie musisz obawiać
              się rygorystycznych diet ani zbędnej suplementacji, nasze posiłki są łatwe w przygotowaniu oraz oparte o
              Twoje ulubione produkty.
            </p>

            <p>
              Kuracja kończy się etapem stabilizacji, podczas którego zaczynamy jeść produkty, które wcześniej
              ograniczyliśmy w zaplanowany sposób. Taki sposób działania gwarantuje brak efektu jo-jo.
            </p>

            <p>
              Koncept Bonne Sante powstał by motywować i pomagać wykształcać dobre nawyki żywieniowe. Nasza kuracja
              rekomendowana jest dla wszystkich osób, tych którzy zmagają się z nadmierną masą ciała jak i tych którzy
              zmagają się z różnymi jednostkami chorobowymi, bądź chcą poprawić swój sposób żywienia.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img class="img-fullwidth mt-140" src="assets/uslugi/usluga_bonne_sante.jpg" alt="uslugi bonne sante">
        </div>
      </div>
    </div>
  </div>
</section>
