<section id="about">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-7">
          <div class="caption">
            <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
              Bonne Sante
            </h2>

            <h4 class="text-uppercase letter-space-3 mb-30">
              Miesięczny plan z cotygodniowymi wizytami
            </h4>

            <p class="text-justify">
              Jesteś piękna. Zawsze będziesz. Masz w sobie moc.
              Energię, w którą szczodrze wyposażyła Cię natura.
              Bo jesteś kobietą. Atrakcyjną, niezależną i silną.
            </p>

            <p>
              Z nami odkryjesz siebie na nowo. Zyskasz komfort, na jaki zasługujesz: szczupłą sylwetkę, zdrowe ciało,
              korzystne nawyki żywieniowe. Spokojny sen oraz życie bez stresu. Lekkość w każdym ruchu. Równowagę,
              energię i moc.
            </p>

            <p>
              Pomożemy Ci trwale zredukować masę ciała. Wygodnie, szybko i bez wyrzeczeń zmienić przyzwyczajenia. Zawsze
              będziemy Ci towarzyszyć – na każdym etapie skutecznej kuracji dietetycznej. Udostępnimy Ci całą naszą
              wiedzę i bogate doświadczenie. Podzielimy się pasją, którą pielęgnujemy od lat. Zatroszczymy się o Ciebie.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img class="img-fullwidth mt-140" src="assets/uslugi/usluga_bonne_sante.jpg" alt="uslugi bonne sante">
        </div>
      </div>
    </div>
  </div>
</section>
