<section id="service-lectures">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-7">
          <div class="caption">
            <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
              Prelekcje
            </h2>

            <h4 class="text-uppercase letter-space-3 mb-30">
              Wykłady na róźne wydarzenia
            </h4>

            <p class="text-justify">
              Jeżeli jesteś organizatorem wszelkiego rodzaju wydarzenia gdzie chciałbyś zwrócić uwagę uczestników na tematy związane ze zdrowiem, urodą, motywacją, chorobami cywilizacyjnymi, zgłość się do nas. Zaproponujemy temat wykładu w zależności od planowanej długości prelekcji, które możemy połączyć z pomiarami uczestników na specjalistycznym sprzęcie marki tanita.
            </p>

            <p>
              Zapraszamy do kontaktu z naszą firmą w celu uzyskania szczegółów.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img class="img-fullwidth mt-140" src="assets/uslugi/usluga_bonne_sante.jpg" alt="uslugi bonne sante">
        </div>
      </div>
    </div>
  </div>
</section>
