<section id="service-corporations">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-7">
          <div class="caption">
            <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
              Firmy / Korporacje
            </h2>

            <h4 class="text-uppercase letter-space-3 mb-30">
              Pakiety usług dietetycznych dla firm.
            </h4>

            <p class="text-justify">
              Jako nowość na rynku oferujemy usługi dietetyczne dla przedsiępiorców i jego pracowników. Usługa polega na wizycie naszego eksperta w państwa firmie wraz ze specjalistycznym sprzętem i przeprowadzanie indywidualnych konsultacji dla pracowników wraz z pomiarami. W ramach konsultacji pracownicy dostają materiały dydaktyczne, porady żywieniowe i zastrzyki motywacyjne aby pobudzić świadomość na odżywianie i jego znaczenie w codziennym życiu.
            </p>

            <p>
              Ilość dni usług w miesiącu jest dobierany indywidualnie do potrzeb firmy i może się wahać od 1 do 8 dni w miesiącu. Do każdej umowy przysługuje jedna całodniowa wizyta próbna, na której dietetyk przeprowadzi wstępną prezentację oraz przeprowadzi kilka próbnych konsultacji. Prezentacja skierowana dla wszystkich pracowników ma na celu przedstawienie w jaki sposób można skorzystać z usług dietetya nawet jeśli z naszą wagą jest wszystko w porządku.
            </p>

            <p>
              Dla lepszej organizacji, kilka dni przed planowaną usługą tworzony jest harmonogram, do którego pracownicy mogą się zapisać na pasujący im czas w ciągu dnia. Dietetyk jest w stanie przyjąć maksymalnie 20 osób dziennie aby zachować indywidualny charakter wizyty.
            </p>

            <p>
              Zapraszamy do kontaktu z naszą firmą w celu uzyskania szczegółów.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img class="img-fullwidth mt-140" src="assets/uslugi/usluga_bonne_sante.jpg" alt="uslugi bonne sante">
        </div>
      </div>
    </div>
  </div>
</section>
