<div class="sidebar sidebar-right mt-sm-30">

  <div class="widget">
    <div class="categories">
      <ul class="list list-border angle-double-right">
        <li>
          <a href="#" data-target="mb-program" class="main mb-menu-tags active">Program Metabolic Balance</a>
        </li>

        <li>
          <a href="#" data-target="mb-who" class="main mb-menu-tags">Komu możemy pomóc</a>
        </li>

        <li>
          <a href="#" data-target="mb-phases" class="main mb-menu-tags">4 fazy programu żywieniowego</a>
        </li>

        <li>
          <a href="#" data-target="mb-how" class="main mb-menu-tags">Jak rozpocząć, jak przebiegają wizyty</a>
        </li>

      </ul>
    </div>
  </div>

</div>
