<div class="sidebar sidebar-right mt-sm-30">

  <div class="widget">
    <h5 class="widget-title line-bottom">Kategorie</h5>
    <div class="categories">
      <ul class="list list-border angle-double-right">
        <li>
          <a href="#" class="mb-menu-item" data-menu="offer">Oferta</a>
        </li>

        <li>
          <a href="#" class="mb-menu-item" data-menu="program">Program przemiany materii</a>
        </li>

        <li>
          <a href="#" class="mb-menu-item" data-menu="phases">Cztery fazy programu</a>
        </li>

        <li>
          <a href="#" class="mb-menu-item" data-menu="publications">Publikacje</a>
        </li>

        <li>
          <a href="#" class="mb-menu-item" data-menu="prices">Cennik</a>
        </li>
      </ul>
    </div>
  </div>

</div>
