<section id="service-bonne-sante">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-uppercase letter-space-4 mb-20 mt-0 text-theme-colored">
            Bonne Sante
          </h1>

          <h4 class="text-uppercase letter-space-3 mb-30">
            Miesięczna kuracja
          </h4>
        </div>

        <div class="row mb-20 p-15">
          <div class="col-md-7 mt-10">
            <h4>Dla kogo</h4>
            <p class="text-justify mb-20">
              Bonne Sante jest konceptem który poprzez innowacyjną metodologię pomaga wykształcić prawidłowe nawyki
              żywieniowe. Proponujemy zrównoważony sposób odżywiania, dzięki któremu zrealizujesz cel. Kuracja daje
              bardzo dobre efekty u osób zdrowych, dorosłych chcących zredukować masę ciała, w przypadku dzieci które
              powinny obniżyć masę ciała, kobiet w ciąży oraz przyszłych mam lub w celu nauki poprawnych nawyków
              żywieniowych. Polecana osobom zdrowym, bez niepokojących objawów, które w prosty sposób chcą zrzucić
              kilogramy.
            </p>

            <h4>Z czego składa się plan</h4>
            <p class="text-justify">
              Podejmując z nami współpracę otrzymujesz plan żywieniowy, 3 wizyty kontrolne z analizą składu ciała oraz
              wsparcie motywacyjne przez cały etap kuracji. Skuteczność naszego działania opieramy na 3 etapach:
              OCZYSZCZANIE, SPALANIE i STABILIZACJA.
            </p>
          </div>

          <div class="col-md-5 mt-30">
            <%= image_tag 'uslugi/bonne_sante/usluga_bonne_sante.jpg', alt: 'gabinet bonne sante', class: 'width-100' %>
          </div>
        </div>

        <div class="row mb-20 p-15">
          <div class="col-md-5">
            <%= image_tag 'uslugi/bonne_sante/mech.jpg', alt: 'bonne sante logo z mchu', class: 'width-100' %>
          </div>
          <div class="col-md-7 mt-20">
            <h4>Pierwsza wizyta</h4>
            <p class="text-justify">
              Pierwsza wizyta jest najważniejszym krokiem do ułożenia planu żywienia, wykonywana jest analiza składu
              ciała, dzięki której dowiesz się czy Twój organizm jest odpowiednio nawodniony, poznasz swoje
              zapotrzebowanie energetyczne, procentową zawartość tkanki tłuszczowej oraz masy mięśniowej. Podczas
              pierwszej wizyty zostanie również przeprowadzony wywiad żywieniowy i medyczny, dzięki któremu plan diety
              dostosowany jest do Twojego stylu życia. Wywiad medyczny jest kluczowym elementem, kuracja sprawdza się
              również w dietoterapii insulinooporności, cukrzycy, jednak zastosowanie dietetyki klinicznej (MB) daje
              pełny efekt wspomagający leczenie.
            </p>
          </div>
        </div>

        <div class="row mb-20 p-15">
          <div class="col-md-7 mt-10">
            <h4>Wizyta kontrolna</h4>
            <p class="text-justify mb-20">
              Podczas wizyt kontrolnych oprócz pomiarów składu ciała i monitoringu skuteczności kuracji, uczymy
              związku pomiędzy jedzeniem a emocjami, przekazujemy materiały psychodietetyczne i motywacyjne. Uczymy
              skutecznie zmienić nawyki żywieniowe i budujemy silną motywację. Element materiałów psychodietetycznych
              pełni bardzo ważną rolę, aby poznać źródło problemów, które uniemożliwiają osiągnięcie celu. Posiłki są
              łatwe w przygotowaniu oraz oparte o Twoje ulubione produkty.
            </p>

            <h4>Zakończenie kuracji</h4>
            <p class="text-justify">
              Kuracja kończy się etapem stabilizacji, podczas którego zaczynamy jeść produkty, które wcześniej
              ograniczyliśmy w zaplanowany sposób. Koncept Bonne Sante powstał by motywować i pomagać wykształcać dobre
              nawyki żywieniowe.
            </p>
          </div>

          <div class="col-md-5 mt-20">
            <%= image_tag 'uslugi/bonne_sante/dlugopisy.jpg', alt: 'bonne sante skuteczne i trwałe odchudzanie', class: 'width-100' %>
          </div>
        </div>


        <!--        <p class="text-justify">-->
        <!--          Minusem dietetyki klasycznej jest brak dokładnych badań medycznych oraz ograniczone dostosowanie planu pod-->
        <!--          dany organizm.-->
        <!--        </p>-->


      </div>
    </div>
  </div>
</section>

<%#= render partial: 'services/bonne_sante/testimonials' %>