<section id="service-lectures">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-7">
          <div class="caption">
            <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
              Prelekcje
            </h2>

            <h4 class="text-uppercase letter-space-3 mb-30">
              Wykłady na róźne wydarzenia
            </h4>

            <p class="text-justify">
              Jeżeli jesteś organizatorem wszelkiego rodzaju wydarzenia gdzie chciałbyś zwrócić uwagę uczestników na tematy związane ze zdrowiem, urodą, motywacją, chorobami cywilizacyjnymi, zgłość się do nas. Zaproponujemy temat wykładu w zależności od planowanej długości prelekcji, które możemy połączyć z pomiarami uczestników na specjalistycznym sprzęcie marki tanita.
            </p>

            <p>
              Zapraszamy do kontaktu z naszą firmą w celu uzyskania szczegółów.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <%= image_tag 'uslugi/usluga_bonne_sante.jpg', alt: 'uslugi bonne sante' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="divider layer-overlay overlay-dark-8" data-bg-img="assets/template/nutrition/bg/bg14.jpg" data-parallax-ratio="0.7">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="testimonial-carousel-3col testimonial">

          <div class="item text-center">
            <div class="thumb">
              <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie uczestnika prelekcji' %>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Uczestnik Eventu</h6>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                tincidunt.
              </p>
            </div>
          </div>

          <div class="item text-center">
            <div class="thumb">
              <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie uczestnika prelekcji' %>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Uczestnik Eventu</h6>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                tincidunt.
              </p>
            </div>
          </div>

          <div class="item text-center">
            <div class="thumb">
              <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie uczestnika prelekcji' %>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Uczestnik Eventu</h6>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                tincidunt.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
