<section id="service-lectures">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
            Prelekcje
          </h2>
        </div>

        <div class="col-md-6">
          <div class="caption">

            <h4 class="text-uppercase letter-space-3 mb-30">
              Wykłady na róźne wydarzenia
            </h4>

            <p class="text-justify">
              Jeżeli jesteś organizatorem wszelkiego rodzaju wydarzenia gdzie chciałbyś zwrócić uwagę uczestników na
              tematy związane ze zdrowiem, urodą, motywacją, chorobami cywilizacyjnymi, zgłość się do nas. Zaproponujemy
              temat wykładu w zależności od planowanej długości prelekcji, które możemy połączyć z pomiarami uczestników
              na specjalistycznym sprzęcie marki tanita.
            </p>

            <p>
              Zapraszamy do kontaktu z naszą firmą w celu uzyskania szczegółów.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag 'uslugi/prelekcje/prelekcja.jpg', alt: 'uslugi prelekcje' %>
        </div>
      </div>
    </div>
  </div>
</section>

<%#= render partial: 'services/lectures/testimonials' %>