<section id="service-metabolic-balance">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-7">
          <div class="caption">
            <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
              Metabolic Balance
            </h2>

            <h4 class="text-uppercase letter-space-3 mb-30">
              6 miesięczny plan oparty na badaniach
            </h4>

            <p class="text-justify">
              Program metabolic balance® to metoda stworzona przez niemieckiego lekarza, dra Wolfa Funfacka we
              współpracy z wieloma specjalistami, a przede wszystkim żoną Birgit-naturopatką oraz dr technologii
              żywienia-Silvią Bürkle. Obie panie do dziś niosą spuściznę po doktorze Wolfie, który zginął w
              nieszczęśliwym wypadku w 2013 roku.
            </p>

            <p>
              Historia zaczęła się w podmonachijskim miasteczku Isen, do którego Funfack przeniósł się po 10-letniej
              pracy na oddziale kardiologii w berlińskim szpitalu. Prywatna praktyka zaowocowała metodą, która dziś
              pomaga ludziom na całym świecie. Program metabolic balance® to wytyczony przez naukę, skomponowany pod
              jednostkę styl odżywiania na całe życie. Nieprzypadkowe są hasła promujące metabolic balance®- „to nie
              dieta, to styl życia”, „jesteś tym, co jesz”. Bo w metabolic balance® nic nie jest przypadkowe. Ani
              indywidualna lista produktów, którą wolno jednostce spożywać, ani 36 parametrów krwi, które są potrzebne,
              by taką listę stworzyć, ani 8 zasad, które być może wywodzą się ze starożytnych źródeł, ale dziś są
              poparte badaniami naukowymi (np.3 posiłki). Program MB przebiega fazowo. To opiekun (lekarz, technolog
              żywienia, dietetyk, naturopata) decyduje o długości poszczególnych etapów. Jak zawsze w MB i tu
              najistotniejsze jest indywiduum.
            </p>

            <p>
              Proces leczenia organizmu może przebiegać różnie. U niektórych pacjentów rejestruje się błyskawiczne
              przestawienie się metabolizmu na nowe tory, uregulowanie gospodarki hormonalnej. Pojawia się zastrzyk
              energii, dobrego samopoczucia, wiary w siebie. Inni reagują spadkiem formy, a nawet chwilowym pogorszeniem
              kondycji, płacąc wyższą cenę za wieloletnie zaniedbania i błędne nawyki żywieniowe. Ale jeśli jest mocne
              postanowienie naprawy organizmu, zawsze się udaje. A utrata wagi jest tylko bonusem.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <%= image_tag 'uslugi/usluga_metabolic_balance.jpg', alt: 'uslugi metabolic balance' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="divider layer-overlay overlay-dark-8" data-bg-img="assets/template/nutrition/bg/bg14.jpg" data-parallax-ratio="0.7">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="testimonial-carousel-3col testimonial">

          <div class="item text-center">
            <div class="thumb">
              <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie pacjenta metabolic balance' %>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Pacjent Metabolic Balance</h6>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                tincidunt.
              </p>
            </div>
          </div>

          <div class="item text-center">
            <div class="thumb">
              <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie pacjenta metabolic balance' %>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Pacjent Metabolic Balance</h6>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                tincidunt.
              </p>
            </div>
          </div>

          <div class="item text-center">
            <div class="thumb">
              <%= image_tag 'template/nutrition/testimonials/s1.jpg', class: 'img-circle', alt: 'zdjecie pacjenta metabolic balance' %>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Pacjent Metabolic Balance</h6>
            </div>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque
                tincidunt.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
