<%= render partial: 'title_metabolic_balance' %>

<section class="bg-theme-colored-blue">
  <div class="container pt-20 pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12 pb-40 pt-20">

          <a href="#" class="mb-menu-tags" data-target="">Program Metabolic Balance</a>
          <a href="#" class="mb-menu-tags" data-target="">Komu możemy pomóc</a>
          <a href="#" class="mb-menu-tags" data-target="">4 fazy programu żywieniowego</a>
          <a href="#" class="mb-menu-tags" data-target="">Jak rozpocząć, jak przebiegają wizyty</a>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="service-metabolic-balance">
  <div class="container pb-30">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="caption pr-20">

            <p class="text-justify font-26 mb-40">
              Plany Metabolic Balance są idealnym rozwiązaniem dla osób zdrowych, chcących zredukować masę ciała lub
              zapobiegać chorobom cywilizacyjnym w sposób zgodny z najnowszą wiedzą potwierdzoną badaniami klinicznymi.
            </p>

            <h3 class="text-uppercase letter-space-3 mb-30 text-theme-colored">
              Program Metabolic Balance
            </h3>

            <p class="text-justify">
              Każdy organizm jest inny, nie ma jednego tak samo skutecznego planu żywieniowego dla każdego, dlatego
              powinien on być jak najbardziej indywidualnie ułożony pod Ciebie.
            </p>

            <p class="text-justify">
              Dzięki dokładnym badaniom krwi (37 parametrów) obrazujących m.in. pracę wątroby, nerek, trzustki, tarczycy
              czy poziom cukru, procesów zapalnych i ich analizie tworzone zostają plany żywieniowe, które w naturalny
              sposób prowadzą do równowagi w Twoim organizmie.
            </p>

            <p class="text-justify">
              Metoda została stworzona przez dr med. Wolf Funfack we współpracy z wieloma specjalistami. Program
              dostępny jest w 35 krajach na całym świecie i cieszy się ogromną popularnością z uwagi na swoją
              niezawodność. Po przeprowadzeniu badań krwi, zebraniu wywiadu żywieniowego i zdrowotnego program zostaje
              przygotowywany po analizie specjalistów z różnych dziedzin, lekarzy i dietetyków w instytucie w Issen w
              Niemczech.
            </p>

            <h4 class=" letter-space-3 mt-30 mb-30 text-theme-colored">
              Stworzony pod daną jednostkę sposób odżywiania na całe życie
            </h4>

            <a href="#" class="read-more text-green font-weight-600">Czytaj więcej o Metabolic Balance</a>

            <p class="text-justify">
              Wykonanie badań krwi jest kluczowym elementem planów Metabolic Balance, mówią nam jakich witamin i
              składników mineralnych brakuje naszemu organizmowi, aby uregulować naszą przemianę materii i gospodarkę
              hormonalną. Indywidualna lista produktów spożywczych tworzona w oparciu o dane z europejskiej bazy
              żywności oraz 8 zasad popartych badaniami m.in. 3 posiłki dziennie pozwalają na zmianę nawyków
              utrzymujących nasz organizm na najbardziej optymalnym poziomie przez długie lata.
            </p>

            <p class="text-justify">
              Każdy plan konstruowany jest indywidualnie zawierając zbilansowaną ilość składników odżywczych.
            </p>

            <p class="text-justify">
              Wybór produktów natomiast nie jest podyktowany ich wartością kaloryczną, natomiast reakcją organizmu na
              dany produkt spożywczy, możliwością wykorzystania składników oraz zapotrzebowaniem naszego organizmu na
              dane związki mineralne, witaminy.
            </p>

            <p class="text-justify">
              Ustalone przerwy między posiłkami czy budowa posiłków istotnie wpływają na utrzymanie odpowiedniego
              poziomu glukozy we krwi, pozwalają na kontrolowane wydzielanie insuliny, wyciszają stany zapalne toczące
              się w organizmie zapobiegając chorobom cywilizacyjnym m.in. cukrzycy, otyłości, czy nowotworom. Obciążeni
              wywiadem rodzinnym mamy większe szanse na pojawienie się pewnych jednostek chorobowych w naszych
              organizmach.
            </p>

            <p class="text-justify">
              Po zakończeniu programu nie występują niedobory składników odżywczych, witamin, minerałów dlatego też nie
              pojawia się efekt jojo. Mamy dużo energii i lepiej czujemy się ze swoim nowym wyglądem. Plany Metabolic
              Balance poza sferą fizyczną przyczyniają się do znacznej poprawy naszego stanu psychicznego.
            </p>

            <p class="text-justify">
              Dietoterapia z pomocą planów Metabolic Balance powoduje, że wiele schorzeń ustępuję znacznie lub
              całkowicie, lekarz prowadzący ma możliwość zmniejszenia dawki leku lub decyduje o wycofania leczenia
              farmakologicznego.
            </p>

            <p class="text-justify">
              Bez wątpienia Sam Smith i Boy George pomogli wprowadzić plany na światło dziennie jednak nie jest to
              sposób odżywiania tylko dla celebrytów, ale i osób które świadomie podchodzą do swojego zdrowia i swojego
              ciała. Wszystko zaczyna się w głowie.
            </p>

            <a href="#" class="read-more text-green font-weight-600">Więc komu możemy pomóc?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="service-metabolic-balance">
  <div class="container pb-30">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="caption pr-20">

            <h3 class="text-uppercase letter-space-3 mb-30 text-theme-colored">
              Komu możemy pomóc?
            </h3>

            <p class="text-justify">
              Plany Metabolic Balance przeznaczone są dla osób, które chcą utrzymać swój organizm w zdrowiu, chciałyby
              poprawić swój stan zdrowia lub zmniejszyć masę ciała. Dietoterapia w znaczny sposób wpływa na schorzenia i
              dolegliwości takie jak:
            </p>

            <ul style="list-style: disc" class="pl-40">
              <li>nadwaga i otyłość</li>
              <li>insulinooporność</li>
              <li>cukrzyca typu II</li>
              <li>zaburzenia trawienne, zespół jelita drażliwego, uchyłkowatość, dolegliwości żołądkowe</li>
              <li>dolegliwości ze strony wątroby</li>
              <li>zaburzenia związane z libido</li>
              <li>niepłodność związana z zaburzeniami hormonalnymi</li>
              <li>zespół policystycznych jajników</li>
              <li>endometrioza</li>
              <li>dolegliwości związane z menopauzą</li>
              <li>choroby tarczycy: niedoczynność, nadczynność, Hashimoto</li>
              <li>migrena, ból głowy, zawroty głowy</li>
              <li>alergie i nietolerancje</li>
              <li>depresja, zaburzenia nastroju</li>
              <li>zaburzenia snu, przewlekłe zmęczenie</li>
              <li>astma</li>
              <li>zapalne choroby jelit, celiakia, choroba Leśniowskiego-Crohna, zapalenie jelita grubego</li>
              <li>choroba wieńcowa, miażdżyca, nadciśnienie</li>
              <li>choroby skóry, atopowe zapalenie skóry, łuszczyca, trądzik</li>
              <li>choroby reumatyczne, bóle stawów</li>
              <li>osteoporoza</li>
              <li>stwardnienie rozsiane</li>
            </ul>

            <a href="#" class="read-more text-green font-weight-600">Czytaj więcej . . .</a>

            <p class="text-justify">
              Plany żywieniowe Metabolic Balance to więcej niż tylko utrata masy ciała. Pomagają kształtować nawyki
              poprzez rozsądne wzorce żywieniowe, koncentrując się na pełnowartościowych pokarmach (bez suplementów,
              produktów dietetycznych). Program działa na najbardziej podstawowym poziomie, aby przywrócić
              równowagę biochemiczną, tzn.
            </p>

            <ol type="1" style="list-style: decimal" class="pl-40">
              <li>
                zwiększa spalanie tkanki tłuszczowej
              </li>
              <li>
                zmniejsza stany zapalne
              </li>
              <li>
                przywraca równowagę hormonalną
              </li>
            </ol>

            <h4 class=" letter-space-3 mt-30 mb-30 text-theme-colored">
              Podejście to opiera się na solidnej wiedzy naukowej.
            </h4>

            <p class="text-justify">
              Głównym zadaniem planów żywieniowych Metabolic Balance jest stabilizacja gospodarki hormonalnej organizmu,
              która nieuregulowana przyczynia się do wzrostu masy ciała, następnie przyczyniając się do nasilenia stanów
              zapalnych powoduje powstawanie chorób, zaburzając naturalny rytm pracy naszych organizmów.
            </p>

            <a href="#" class="read-more text-green font-weight-600">Jak przebiega plan żywieniowy?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="service-metabolic-balance">
  <div class="container pb-50">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="caption pr-20">

            <h3 class="text-uppercase letter-space-3 mb-30 text-theme-colored">
              4 fazy programu żywieniowego
            </h3>

            <p>
              Plan składa się z 4 faz, każda z nich ma określony pozytywny wpływ na organizm i jest kluczowa, aby na
              stałe
              wprowadzić zdrowe nawyki żywieniowe. Czas trwania poszczególnych faz ustala opiekun na podstawie
              określonego
              wcześniej celu pacjenta oraz możliwości organizmu.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="lifestyle">
  <div class="container pb-0 pt-0">
    <div class="bg-img-right-top sm-no-bg mt-sm-0" data-margin-top="" data-bg-img="assets/uslugi/metabolic_balance_miseczki.jpg">
      <div class="row">
        <div class="col-md-7 text-justify">

          <div class="icon-box flip sm-text-center p-0 mb-45 mt-sm-30">
            <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
              <i class="flaticon-spa-flowers-on-human-feet text-white font-36 no-rotate"></i>
            </a>
            <div>
              <h5 class="icon-box-title mt-0 mb-10"><strong>1 faza</strong></h5>
              <p>
                przygotowuje organizm do zmiany stylu życia, jest to oczyszczenie organizmu z dotychczas spożywanych
                produktów. Od tego momentu to co jemy ma sprzyjać naszemu zdrowiu. Wprowadzamy lekkie posiłki z
                odpowiednimi dla danej osoby produktami oraz dedykowaną formą ich przygotowania.
              </p>
            </div>
          </div>

          <div class="icon-box flip sm-text-center p-0 mb-45">
            <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
              <i class="flaticon-spa-spa-facial-treatment-with-mask-and-massages text-white no-rotate font-48"></i>
            </a>
            <div>
              <h5 class="icon-box-title mt-15 mb-10"><strong>2 faza</strong></h5>
              <p>
                czas trwania ustalany jest pod pacjenta, ma na celu m.in. uregulować przemianę materii. Pacjent
                otrzymuje indywidualnie dobrane wytyczne m.in. konkretną listę produktów, które w sposób przemyślany i
                kontrolowany mają odżywić organizm dostarczając niezbędnych składników odżywczych, witamin i
                minerałów.
                Wprowadzonych zostaje 8 zasad umożliwiających przestawienie organizmu na zdrowy sposób odżywiania. W
                zależności od celu pacjent poza naturalną utratą masy ciała, odczuwa lepsze samopoczucie, ma więcej
                energii. Nasz układ pokarmowy podejmuje z nami współpracę wracając do fizjologicznych zachowań.
              </p>
            </div>
          </div>

          <div class="icon-box flip sm-text-center p-0 mb-45">
            <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
              <i class="flaticon-spa-massage-and-spa text-white no-rotate"></i>
            </a>
            <div>
              <h5 class="icon-box-title mt-15 mb-10"><strong>3 faza</strong></h5>
              <p>
                stosowana pod nadzorem opiekuna, ponieważ wprowadzone zostają nowe produkty, które zostały wykluczone
                w
                początkowych fazach programu żywieniowego. Sprawdzamy i testujemy tworząc swoją idealną listę
                produktową. Wprowadzane są indywidualne zalecenia np. dowolne posiłki, zwiększenie aktywności
                fizycznej.
              </p>
            </div>
          </div>

          <div class="icon-box flip sm-text-center p-0 mb-45">
            <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
              <i class="flaticon-spa-man-lying-on-a-deck-chair-of-a-spa text-white no-rotate font-42"></i>
            </a>
            <div>
              <h5 class="icon-box-title mt-15 mb-10"><strong>4 faza</strong></h5>
              <p>
                dla mnie faza 4 to „życie”. Co to znaczy? Sami umiemy podejmować decyzje związane z żywieniem, wiemy
                co
                nam służy, a co powoduje dyskomfort lub pogorszenie wyników badań. Faza ta rozpoczyna się w momencie
                osiągnięcia przez pacjenta celu estetycznego lub zdrowotnego i nie jest ograniczona czasowo. Masa
                ciała
                jest stabilna, ponieważ utrata tkanki tłuszczowej przebiegała w sposób niewymuszony czyli najbardziej
                odpowiedni dla organizmu, który sam dążył przy pomocy naturalnych składników do równowagi. Zasady
                metabolic balance zostają na całe życie, z perspektywy własnej i z obserwacji pacjentów znacznie je
                ułatwiając :)
            </div>
          </div>

          <a href="#" class="read-more text-green font-weight-600">Jak rozpocząć?</a>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="service-metabolic-balance">
  <div class="container pb-30">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="caption pr-20">

            <h3 class="text-uppercase letter-space-3 mb-30 text-theme-colored">
              Jak rozpocząć
            </h3>

            <p class="text-justify mb-40">
              Na pierwszą wizytę umawiamy się telefonicznie.
            </p>

            <h3 class="text-uppercase letter-space-3 mb-30 text-theme-colored">
              Jak przebiegają wizyty
            </h3>

            <p class="text-justify">
              Pierwsza wizyta trwa około 60 minut, w tym czasie przeprowadzony zostanie szczegółowy wywiad żywieniowy
              i
              zdrowotny, wykonywana będzie analiza składu ciała, pomiary obwodów ciała.
            </p>

            <p class="text-justify">
              Otrzymujecie Państwo skierowanie na badania krwi oraz umowę o współpracy niezbędną do uruchomienia
              procedur związanych z konstruowaniem planu.
            </p>

            <p class="text-justify">
              Badania krwi można wykonać w dowolnym laboratorium Diagnostyki na terenie Krakowa (jest możliwość
              wykonania badań poza Krakowem w dowolnym punkcie pobrań Diagnostyki). Od momentu przekazania wyników
              badań
              do Aleksandry Kucharczyk zostaje wszczęty proces tworzenia planu. Na odbiór planu czekamy około 7 dni w
              zależności od stopnia złożoności planu związanego z towarzyszącymi jednostkami chorobowymi.
            </p>

            <p class="text-justify">
              Druga wizyta to odebranie indywidualnego planu żywieniowego Metabolic Balance.
            </p>

            <p class="text-justify">
              Pozostałe wizyty są kontrolne, podczas których w zależności od celu pacjenta wprowadzane są poszczególne
              fazy i zmiany w planie.
            </p>

            <p class="text-justify">
              Pakiet Metabolic Balance obejmuje:
            </p>

            <ul style="list-style: disc" class="pl-40 mb-30">
              <li>analizę 37 parametrów krwi (inne badania po dodatkowej opłacie*)</li>
              <li>opracowanie planu żywieniowego Metabolic Balance przez instytut medyczny w Isen w Niemczech (około
                40 stron zaleceń)
              </li>
              <li>10 wizyt, 1 na odbiór planu, pozostałe wizyty kontrolne zostają dowolnie rozłożone w czasie w
                zależności od potrzeb pacjenta
              </li>
              <li>kontakt telefoniczny lub e-mail</li>
              <li>wsparcie motywacyjne</li>
            </ul>

            <p class="text-justify font-14">
              Inne badania po dodatkowej opłacie*
            </p>

            <p class="text-justify font-14">
              Podczas wizyty możecie Państwo zostać poproszeni o wykonanie dodatkowych badań których nie obejmuje
              pakiet Metabolic Balance, np. badania w kierunku rozpoznania celiakii lub trzy punktowa krzywa glukozy i
              insuliny po obciążeniu. Krzywa glukozy i insuliny to jedno z badań które polecam, dzięki badaniu mamy
              możliwość m.in. wyliczenia wskaźnika HOMA-IR, który jest badaniem w kierunku coraz częściej występującej
              insulinooporności. Umożliwia nam zobrazowanie gospodarki węglowodanowej pacjenta, co jest kluczowym
              elementem podczas prowadzenia pacjenta na planie żywieniowym.
            </p>

            <p class="text-justify font-14">
              Większość pacjentów zgłaszających się do mnie ma zaburzenia węglowodanowe, które znacznie wpływają na
              samopoczucie, senność, osłabienie, czy ciągłe uczucie zmęczenia pacjenta, a przede wszystkim brak
              efektów stosowanych wcześniej diet. Wychodzimy Państwu naprzeciw, staramy się jak najdokładniej
              przeanalizować Państwa stan zdrowia co przekłada się na jeszcze lepsze efekty stosowania planów
              żywieniowych Metabolic Balance.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
