.rev_slider_wrapper {
  position: relative;
  z-index: 0;
}

.rev_slider {
  position: relative;
  overflow: visible;
}

.tp-overflow-hidden {
  overflow: hidden;
}

.tp-simpleresponsive img, .rev_slider img {
  max-width: none !important;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border: none;
}

.rev_slider .no-slides-text {
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
}

.rev_slider > ul, .rev_slider_wrapper > ul, .tp-revslider-mainul > li, .rev_slider > ul > li, .rev_slider > ul > li:before, .tp-revslider-mainul > li:before, .tp-simpleresponsive > ul, .tp-simpleresponsive > ul > li, .tp-simpleresponsive > ul > li:before, .tp-revslider-mainul > li, .tp-simpleresponsive > ul > li {
  list-style: none !important;
  position: absolute;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: visible;
  overflow-y: visible;
  list-style-type: none !important;
  background-image: none;
  background-position: 0px 0px;
  text-indent: 0em;
  top: 0px;
  left: 0px;
}

.tp-revslider-mainul > li, .rev_slider > ul > li, .rev_slider > ul > li:before, .tp-revslider-mainul > li:before, .tp-simpleresponsive > ul > li, .tp-simpleresponsive > ul > li:before, .tp-revslider-mainul > li, .tp-simpleresponsive > ul > li {
  visibility: hidden;
}

.tp-revslider-slidesli, .tp-revslider-mainul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
}

.rev_slider li.tp-revslider-slidesli {
  position: absolute !important;
}

.tp-caption .rs-untoggled-content {
  display: block;
}

.tp-caption .rs-toggled-content {
  display: none;
}

.rs-toggle-content-active.tp-caption .rs-toggled-content {
  display: block;
}

.rs-toggle-content-active.tp-caption .rs-untoggled-content {
  display: none;
}

.rev_slider .tp-caption, .rev_slider .caption {
  position: relative;
  visibility: hidden;
  white-space: nowrap;
  display: block;
}

.rev_slider .tp-mask-wrap .tp-caption, .rev_slider .tp-mask-wrap *:last-child, .wpb_text_column .rev_slider .tp-mask-wrap .tp-caption, .wpb_text_column .rev_slider .tp-mask-wrap *:last-child {
  margin-bottom: 0;
}

.tp-carousel-wrapper {
  cursor: url(openhand.cur), move;
}

.tp-carousel-wrapper.dragged {
  cursor: url(closedhand.cur), move;
}

.tp-caption {
  z-index: 1
}

.tp_inner_padding {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-height: none !important;
}

.tp-caption {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: absolute;
  -webkit-font-smoothing: antialiased !important;
}

.tp-forcenotvisible, .tp-hide-revslider, .tp-caption.tp-hidden-caption {
  visibility: hidden !important;
  display: none !important
}

.rev_slider embed, .rev_slider iframe, .rev_slider object, .rev_slider video {
  max-width: none !important
}

.rev_slider_wrapper {
  width: 100%;
}

.tp-bannertimer {
  visibility: hidden;
  width: 100%;
  height: 5px;
  background: #fff;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 200;
  top: 0px
}

.tp-bannertimer.tp-bottom {
  top: auto;
  bottom: 0px !important;
  height: 5px
}

.tp-simpleresponsive img {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.tp-loader {
  top: 50%;
  left: 50%;
  z-index: 10000;
  position: absolute;
}


.tp-tabs, .tp-thumbs, .tp-bullets {
  position: absolute;
  display: block;
  z-index: 1000;
  top: 0px;
  left: 0px;
}

.tp-tab, .tp-thumb {
  cursor: pointer;
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tp-arr-imgholder, .tp-videoposter, .tp-thumb-image, .tp-tab-image {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.tp-tab:hover, .tp-tab.selected, .tp-thumb:hover, .tp-thumb.selected {
  opacity: 1;
}

.tp-tab-mask, .tp-thumb-mask {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important
}

.tp-tabs, .tp-thumbs {
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important
}

.tp-bullet {
  width: 15px;
  height: 15px;
  position: absolute;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.tp-bullet.selected, .tp-bullet:hover {
  background: #fff;
}

.tp-bannertimer {
  background: #000;
  background: rgba(0, 0, 0, 0.15);
  height: 5px;
}

.tparrows {
  cursor: pointer;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
}

.tparrows:hover {
  background: #000;
}

.tparrows:before {
  font-family: "revicons";
  font-size: 15px;
  color: #fff;
  display: block;
  line-height: 40px;
  text-align: center;
}

.tparrows.tp-leftarrow:before {
  content: '\e824';
}

.tparrows.tp-rightarrow:before {
  content: '\e825';
}
