/* grey #E8E8E8*/
/* green #ABD62E*/
/* blue #292B33*/
/* metabolic-blue #273582*/

@charset "utf-8";

@import "template/font-awesome.min.css";
@import "template/font-awesome-animation.min.css";
@import "template/pe-icon-7-stroke.css";
@import "template/elegant-icons.css";
@import "template/stroke-gap-icons.css";
@import "template/flaticon-set-medical.css";
@import "template/flaticon-set-martial-arts.css";
@import "template/flaticon-set-gym.css";
@import "template/flaticon-set-spa.css";
@import "template/flaticon-set-foods.css";
@import "template/flaticon-set-yoga.css";
@import "template/flaticon-set-dental.css";
@import "template/flaticon-set-boxing.css";
@import "template/flaticon-set-sports.css";
@import "template/flaticon-set-nutrition.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900);

@font-face {
  font-family: "Poppins-Light";
  src: asset-url('Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Poppins-Bold";
  src: asset-url('Poppins-Bold.ttf') format('truetype');
}

:active,
:focus {
  outline: none !important;
}
html {
  font-size: 100%;
}

body {
  line-height: 1.7;
  color: #404040;
  font-size: 16px;
  font-family: 'Poppins-Light';
  background-color: #fff;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins-Bold';
  font-weight: normal;
}

a {
  color: #808080;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #595959;
  text-decoration: none;
}
a img {
  border: none;
}
img {
  max-width: 100%;
}
iframe {
  border: none !important;
}
/* -------- Headings ---------- */
h1,
.h1 {
  font-size: 3.0rem;
}
h2,
.h2 {
  font-size: 2.4rem;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 17px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 .h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.42857143;
  color: #333333;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 .h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: #333333;
}
/* -------- Body Text ---------- */
p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
  margin-bottom: 10px;
}
/* -------- Custom Font Family ---------- */
.font-opensans {
  font-family: 'Poppins-Light';
}
.font-raleway {
  font-family: 'Raleway';
}
html {
  font-size: 100%;
  max-width: 100%;
}
html,
html a {
  -webkit-font-smoothing: antialiased;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fluid-video-wrapper {
  padding: 0;
  position: relative;
  width: 100%;
}
iframe {
  border: none;
  width: 100%;
}
.text-highlight {
  background: none repeat scroll 0 0 #111111;
  border-radius: 4px;
  color: #fff;
  padding: 0 5px 3px;
}
.text-highlight.light {
  background: #808080;
}
.outline-border {
  outline: 5px solid #f1f1f1 !important;
  outline-offset: 5px;
}
.inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.fullwidth {
  width: 100%;
}
.bg-hover-theme-colored {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Text-decoration */
.text-underline {
  text-decoration: underline;
}
/* -------- Text Colors ---------- */
/* Text Black & Gray Color*/
.text-black {
  color: #000 !important;
}
.text-black-111 {
  color: #111111 !important;
}
.text-black-222 {
  color: #222222 !important;
}
.text-black-333 {
  color: #333333 !important;
}
.text-black-444 {
  color: #404040 !important;
}
.text-black-555 {
  color: #555555 !important;
}
.text-black-666 {
  color: #5b5b5b !important;
}
.text-gray-dimgray {
  color: #666666 !important;
}
.text-gray-light {
  color: #777777 !important;
}
.text-gray {
  color: #515151 !important;
}
.text-gray-darkgray {
  color: #a9a9a9 !important;
}
.text-gray-silver {
  color: #c0c0c0 !important;
}
.text-gray-lightgray {
  color: #d3d3d3 !important;
}
.text-gray-gainsboro {
  color: #fff !important;
}
.text-gray-lighter {
  color: #eeeeee !important;
}
/* Text White Color*/
.text-white {
  color: #fff !important;
}

/* Text White Color*/
.text-grey {
  color: #E8E8E8 !important;
}
/* Text White Color*/
.text-green {
  color: #ABD62E !important;
}
.text-red {
  color: #d62d25 !important;
}
.text-orange {
  color: #d69f36 !important;
}
/* Text White Color*/
.text-blue {
  color: #292B33 !important;
}
.bg-lighter {
  background-color: #F0F0F0 !important;
}
.bg-lightest {
  background-color: #fcfcfc !important;
}
.bg-grey {
  background-color: #E8E8E8 !important;
}
.bg-blue {
  background-color: #292B33 !important;
}
.bg-white-light {
  background-color: #fff !important;
}
.bg-black {
  background-color: #000 !important;
}
.divider-dark {
  background-color: #252525 !important;
}
footer.bg-deep {
  background-color: #191919 !important;
}
.bg-black-111 {
  background-color: #111111 !important;
}
.bg-black-222 {
  background-color: #222222 !important;
}
.bg-black-333 {
  background-color: #333333 !important;
}
.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-700 {
  font-weight: 700 !important;
}
.font-weight-800 {
  font-weight: 800 !important;
}
.font-weight-900 {
  font-weight: 900 !important;
}
/* -------- Font Size ---------- */
.font-9 {
  font-size: 9px !important;
}
.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-17 {
  font-size: 17px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-19 {
  font-size: 19px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-21 {
  font-size: 21px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-23 {
  font-size: 23px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-25 {
  font-size: 25px !important;
}
.font-26 {
  font-size: 26px !important;
}
.font-27 {
  font-size: 27px !important;
}
.font-28 {
  font-size: 2rem !important;
}
.font-29 {
  font-size: 2.07142857rem !important;
}
.font-30 {
  font-size: 2.14285714rem !important;
}
.font-32 {
  font-size: 2.28571429rem !important;
}
.font-36 {
  font-size: 2.57142857rem !important;
}
.font-38 {
  font-size: 2.71428571rem !important;
}
.font-40 {
  font-size: 2.85714286rem !important;
}
.font-42 {
  font-size: 3rem !important;
}
.font-44 {
  font-size: 3.14285714rem !important;
}
.font-46 {
  font-size: 3.28571429rem !important;
}
.font-48 {
  font-size: 3.42857143rem !important;
}
.letter-space-2 {
  letter-spacing: 2px;
}
.letter-space-3 {
  letter-spacing: 3px;
}
.letter-space-4 {
  letter-spacing: 4px;
}
.line-bottom {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.line-bottom:after {
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 60px;
}
.line-bottom-centered {
  position: relative;
  margin: 10px 0 20px;
}
.line-bottom-centered:after {
  background: #333 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}
/* -------- Custom Margin Padding ---------- */
.mb-5 {
  margin-bottom: 5px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-12 {
  margin-top: 12px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.p-25 {
  padding: 25px !important;
}
/* -------- Border ---------- */
.no-border {
  border: none !important;
}
.border-1px {
  border: 1px solid #eeeeee;
}
.border-2px {
  border: 2px solid #eeeeee;
}
.border-bottom-black {
  border-bottom: 1px solid #333333;
}
.border-gray-lightgray {
  border-color: #d3d3d3 !important;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul ul,
ol ul {
  margin-left: 15px;
}
ul.list {
  list-style: outside none none;
  margin-top: 13px;
  padding-left: 0;
}
ul.list li {
  margin: 5px 0;
}
ul.list li:before {
  border: none;
  color: #a9a9a9;
  content: "\f111";
  display: inline-block;
  font-family: fontawesome;
  font-size: 9px;
  margin-right: 10px;
  padding: 0;
}
ul.list li:hover:before {
  background: none;
  border-color: transparent;
}
ul.list li a {
  text-decoration: none;
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
/* -------- List White ---------- */
ul.list.list-white li:before {
  color: #fff;
}
ul.list.list-white li:hover:before {
  background: none;
  border-color: transparent;
}
ul.list.list-white li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
/* -------- List Icons ---------- */
.list-icon li {
  font-size: 14px;
  margin: 0;
}
.list-icon li i {
  color: #555555;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  margin: 5px 10px 5px 0;
  text-align: center;
  width: 28px;
}
.list-icon.square li i {
  background: #c0c0c0;
  color: #555555;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  margin: 5px 10px 5px 0;
  text-align: center;
  width: 28px;
}
.list-icon.rounded li i {
  color: #555555;
  background: #c0c0c0;
  border-radius: 50%;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  margin: 5px 10px 5px 0;
  text-align: center;
  width: 28px;
}
.get-appointment {
  color: #fff;
  background-color: #292B33;
  border-color: #292B33;
}

.get-appointment:visited {
  color: #fff;
  background-color: #292B33;
  border-color: #292B33;
}

.get-appointment:hover {
  color: #ABD62E;
  background-color: #1b1d23;
}

.list-icon.theme-colored.square li i {
  color: #fff;
}
.list-icon.theme-colored.rounded li i {
  color: #fff;
}
/* -------- Personal Info List ---------- */
.list-info li {
  clear: both;
  position: relative;
}
.list-info li label {
  display: inline-block;
  font-weight: bold;
  padding: 5px 0 0;
}
.list-info li span {
  left: 110px;
  padding: 5px 0;
  position: absolute;
}
.list-features {
  -moz-column-count: 3;
  column-count: 3;
}
.list-dashed > div {
  border-bottom: 1px dashed #d3d3d3 !important;
  margin-bottom: 7px;
  padding-bottom: 7px;
}
.list-dashed > li {
  border-bottom: 1px dashed #d3d3d3 !important;
  margin-bottom: 7px;
  padding-bottom: 7px;
}
.list-dashed.dark-dash > article {
  border-bottom: 1px dashed #333333 !important;
}
.list-dashed.dark-dash > div {
  border-bottom: 1px dashed #333333 !important;
}
.list-dashed.dark-dash > li {
  border-bottom: 1px dashed #333333 !important;
}
ul.list.check li:before {
  content: "\f00c";
  font-family: fontawesome;
  font-size: 12px;
}
ul.list.angle-double-right li:before {
  content: "\f101";
  font-family: fontawesome;
  font-size: 12px;
}
ul.list.angle-right li:before {
  content: "\f105";
  font-family: fontawesome;
}
ul.list.check-circle li:before {
  content: "\f058";
  font-family: fontawesome;
  font-size: 14px;
}
/* -------- Call To Actions ---------- */
.call-to-action {
  display: inline-block;
  width: 100%;
  padding: 20px;
}
/* -------- Section & Divider ---------- */
section {
  position: relative;
}
section > .container,
section > .container-fluid {
  padding-top: 40px;
  padding-bottom: 40px;
}
.no-bg {
  background: none !important;
}
.img-fullwidth {
  width: 100%;
}
/* -------- Scroll To Top ---------- */
.scrollToTop {
  background: rgba(0, 0, 0, 0.1);
  bottom: 205px;
  display: none;
  height: 50px;
  padding: 2px;
  position: fixed;
  right: 15px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 99999;
}
.scrollToTop i {
  color: #fff;
  font-size: 42px;
}
.scrollToTop:hover {
  background: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
/* -------- Opening Hours ---------- */
.opening-hourse ul li {
  padding: 6px 0 12px !important;
}
/* -------- Multi Row Clearfix ---------- */
.multi-row-clearfix .col-xs-6:nth-child(2n + 3) {
  clear: left;
}
.multi-row-clearfix .col-xs-4:nth-child(3n + 4) {
  clear: left;
}
.multi-row-clearfix .col-xs-3:nth-child(4n + 5) {
  clear: left;
}
.multi-row-clearfix .col-xs-2:nth-child(6n + 7) {
  clear: left;
}
.multi-row-clearfix .col-xs-1:nth-child(12n + 13) {
  clear: left;
}
@media (min-width: 768px) {
  /* reset previous grid */
  .multi-row-clearfix .col-xs-6:nth-child(2n + 3) {
    clear: none;
  }
  .multi-row-clearfix .col-xs-4:nth-child(3n + 4) {
    clear: none;
  }
  .multi-row-clearfix .col-xs-3:nth-child(4n + 5) {
    clear: none;
  }
  .multi-row-clearfix .col-xs-2:nth-child(6n + 7) {
    clear: none;
  }
  .multi-row-clearfix .col-xs-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for small columns */
  .multi-row-clearfix .col-sm-6:nth-child(2n + 3) {
    clear: left;
  }
  .multi-row-clearfix .col-sm-4:nth-child(3n + 4) {
    clear: left;
  }
  .multi-row-clearfix .col-sm-3:nth-child(4n + 5) {
    clear: left;
  }
  .multi-row-clearfix .col-sm-2:nth-child(6n + 7) {
    clear: left;
  }
  .multi-row-clearfix .col-sm-1:nth-child(12n + 13) {
    clear: left;
  }
}
@media (min-width: 992px) {
  /* reset previous grid */
  .multi-row-clearfix .col-sm-6:nth-child(2n + 3) {
    clear: none;
  }

  .multi-row-clearfix .col-sm-4:nth-child(3n + 4) {
    clear: none;
  }
  .multi-row-clearfix .col-sm-3:nth-child(4n + 5) {
    clear: none;
  }
  .multi-row-clearfix .col-sm-2:nth-child(6n + 7) {
    clear: none;
  }
  .multi-row-clearfix .col-sm-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for medium columns */
  .multi-row-clearfix .col-md-6:nth-child(2n + 3) {
    clear: left;
  }
  .multi-row-clearfix .col-md-4:nth-child(3n + 4) {
    clear: left;
  }
  .multi-row-clearfix .col-md-3:nth-child(4n + 5) {
    clear: left;
  }
  .multi-row-clearfix .col-md-2:nth-child(6n + 7) {
    clear: left;
  }
  .multi-row-clearfix .col-md-1:nth-child(12n + 13) {
    clear: left;
  }
}
@media (min-width: 1200px) {
  /* reset previous grid */
  .multi-row-clearfix .col-md-6:nth-child(2n + 3) {
    clear: none;
  }
  .multi-row-clearfix .col-md-4:nth-child(3n + 4) {
    clear: none;
  }
  .multi-row-clearfix .col-md-3:nth-child(4n + 5) {
    clear: none;
  }
  .multi-row-clearfix .col-md-2:nth-child(6n + 7) {
    clear: none;
  }
  .multi-row-clearfix .col-md-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for large columns */
  .multi-row-clearfix .col-lg-6:nth-child(2n + 3) {
    clear: left;
  }
  .multi-row-clearfix .col-lg-4:nth-child(3n + 4) {
    clear: left;
  }
  .multi-row-clearfix .col-lg-3:nth-child(4n + 5) {
    clear: left;
  }
  .multi-row-clearfix .col-lg-2:nth-child(6n + 7) {
    clear: left;
  }
  .multi-row-clearfix .col-lg-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* -------- Responsive Classes ---------- */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .md-height-auto {
    min-height: auto !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 991px) {
  .sm-display-block {
    display: block !important;
  }

  .sm-text-center {
    text-align: center !important;
  }

  .sm-text-right {
    text-align: right !important;
  }

  .sm-text-left {
    text-align: left !important;
  }

  .sm-pull-none {
    float: none !important;
  }
  .sm-pull-left {
    float: left !important;
  }
  .sm-pull-right {
    float: right !important;
  }
  .sm-fullwidth {
    width: 100%;
  }
  .sm-height-auto {
    min-height: auto !important;
  }
  .sm-hide-bg-img {
    background: none !important;
  }
  .sm-no-bg {
    background: none !important;
  }
  .maxwidth400 {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 400px;
  }
  .maxwidth500 {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 500px;
  }
  .maxwidth600 {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 600px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .xs-display-block {
    display: block;
  }
  .xs-text-center {
    text-align: center !important;
  }
  .xs-text-right {
    text-align: right !important;
  }
  .xs-text-left {
    text-align: left !important;
  }
  .xs-fullwidth {
    width: 100%;
  }
  .xs-height-auto {
    min-height: auto !important;
  }
  .xs-hide-bg-img {
    background: none !important;
  }
  .xs-no-bg {
    background: none !important;
  }
  .xs-pull-none {
    float: none !important;
  }
  .xs-pull-left {
    float: left !important;
  }
  .xs-pull-right {
    float: right !important;
  }
  .xs-pull-center {
    display: table;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .xs-list-inline-none li {
    display: table;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px !important;
    padding-left: 0 !important;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .xxs-text-center {
    text-align: center;
  }
  .xxs-height-auto {
    min-height: auto !important;
  }
}
/* equal height */
@media only screen and (max-width: 767px) {
  .equal-height > div,
  .equal-height-inner > div,
  .equal-height-inner > div > div {
    height: auto !important;
    min-height: auto !important;
  }
}
/*
 * Extra.less
 * -----------------------------------------------
*/
/* -------- Heading Style ---------- */
.heading-border {
  border-bottom: 1px solid #d3d3d3;
  margin: 30px 0;
  padding: 20px 0;
}
/* -------- FullCalendar - Plugin ---------- */
.fc-day-number {
  color: #333333;
}
.fc-day-number.fc-other-month {
  opacity: 0.4;
}
.layer-overlay {
  position: relative;
}
.header-top {
  padding: 8px 0;
}
.header-nav {
  position: relative;
}
.header-nav {
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
/*
 * Inner-Header-Title.less
 * -----------------------------------------------
*/
.inner-header {
  text-align: center;
}
.form-control {
  height: 45px;
  border-radius: 0;
  color: #404040;
}
.input-group-addon {
  border-radius: 0;
}
.input-group-addon i {
  color: #999999;
}
label {
  font-weight: normal;
}
.form-control:focus,
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="url"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="color"]:focus,
form select:focus,
form textarea:focus {
  color: #404040;
  border-color: #c0c0c0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  outline: none;
}
/*
 *  Box hover effect
 * -----------------------------------------------
*/
.box-hover-effect {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}
.box-hover-effect img {
  position: relative;
  display: block;
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.box-hover-effect.effect1 .thumb {
  position: relative;
  overflow: hidden;
}
.box-hover-effect.effect1 .thumb:after {
  background-color: rgba(255, 255, 255, 0.15);
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: 0;
}
.box-hover-effect.effect1 .thumb:before {
  left: 0;
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: 0;
  z-index: 1;
}
.box-hover-effect.effect1:hover .thumb:before,
.box-hover-effect.effect1:hover .thumb:after {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
/* -------- Portfolio Isotop Gallery ---------- */
.portfolio-gallery {
  /*gutter*/
  /* by default 4 grids */
  /*portfolio 2 grids*/
  /*portfolio 2 grids*/
  /*portfolio 3 grids*/
  /*portfolio 4 grids*/
  /*portfolio 5 grids*/
  /*portfolio 6 grids*/
  /*portfolio 7 grids*/
  /*portfolio 8 grids*/
  /*portfolio 9 grids*/
  /*portfolio 10 grids*/
}
.portfolio-gallery.gutter .portfolio-item {
  padding-right: 5px;
  padding-bottom: 5px;
}
.portfolio-gallery.gutter-small .portfolio-item {
  padding-right: 2px;
  padding-bottom: 2px;
}
.portfolio-gallery.gutter-30 .portfolio-item {
  padding-right: 30px;
  padding-bottom: 30px;
}
.portfolio-gallery .portfolio-item {
  width: 25%;
}
.portfolio-gallery .portfolio-item.wide {
  width: 50%;
}
.portfolio-gallery.grid-1 .portfolio-item {
  width: 100%;
}
.portfolio-gallery.grid-1 .portfolio-item.wide {
  width: 100%;
}
.portfolio-gallery.grid-2 .portfolio-item {
  width: 50%;
}
.portfolio-gallery.grid-2 .portfolio-item.wide {
  width: 100%;
}
.portfolio-gallery.grid-3 .portfolio-item {
  width: 33.333%;
}
.portfolio-gallery.grid-3 .portfolio-item.wide {
  width: 66.6667%;
}
.portfolio-gallery.grid-4 .portfolio-item {
  width: 25%;
}
/* -------- Portfolio Isotop Item Media Query ---------- */
@media only screen and (max-width: 991px) {
  .portfolio-gallery .portfolio-item {
    width: 33.333% !important;
  }
  .portfolio-gallery .portfolio-item.wide {
    width: 66.6667% !important;
  }
}
@media only screen and (max-width: 767px) {
  .portfolio-gallery .portfolio-item {
    width: 50% !important;
  }
  .portfolio-gallery .portfolio-item.wide {
    width: 100% !important;
  }
}
@media only screen and (max-width: 479px) {
  .portfolio-gallery .portfolio-item {
    width: 100% !important;
  }
  .portfolio-gallery .portfolio-item.wide {
    width: 100% !important;
  }
}
/* -------- Portfolio Isotop Overlay Effect ---------- */
.portfolio-gallery .portfolio-item {
  overflow: hidden;
}
.portfolio-gallery .portfolio-item .thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-gallery .portfolio-item .thumb .photo {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1200ms ease 0s;
  -o-transition: all 1200ms ease 0s;
  transition: all 1200ms ease 0s;
}
.portfolio-gallery .portfolio-item .hover-link {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background: none!important;
  color: transparent!important;
  z-index: 100;
}
.portfolio-gallery .portfolio-item .overlay-shade {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.portfolio-gallery .portfolio-item:hover .overlay-shade {
  opacity: 1;
  filter: alpha(opacity=90);
}
.portfolio-gallery .portfolio-item:hover .thumb .photo {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.portfolio-gallery .portfolio-item .icons-holder {
  position: absolute;
  top: -10%;
  left: 50%;
  display: inline-block;
  width: auto;
  height: 36px;
  vertical-align: middle;
  z-index: 130;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.portfolio-gallery .portfolio-item .icons-holder .icons-holder-inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: -18px 0 0 -50%;
}
.portfolio-gallery .portfolio-item .icons-holder .icons-holder-inner a {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.portfolio-gallery .portfolio-item:hover .icons-holder {
  top: 50%;
}
.portfolio-gallery .portfolio-item:hover .icons-holder .icons-holder-inner a {
  opacity: 1;
  filter: alpha(opacity=1);
}
.portfolio-gallery .portfolio-item .portfolio-description {
  padding: 15px 0;
}
.portfolio-gallery .portfolio-item .portfolio-description .title {
  margin: 0;
}
.portfolio-gallery .portfolio-item .portfolio-description .title a {
  color: #333333;
}
.portfolio-gallery .portfolio-item .text-holder {
  box-sizing: border-box;
  display: block;
  /*height: 100%;*/
  opacity: 0;
  overflow: hidden;
  position: absolute;
  bottom: -30%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 100%;
  z-index: 100;
}
.portfolio-gallery .portfolio-item .text-holder .title {
  color: #fff;
}
.portfolio-gallery .portfolio-item:hover .text-holder {
  bottom: 20px;
  opacity: 1;
}
/* -------- Owl Carousel ---------- */
.owl-controls {
  margin: 0;
}
.owl-controls .owl-nav > div {
  background: none repeat scroll 0 0 rgba(240, 240, 240, 0.8);
  border-radius: 0;
  display: block;
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 45%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  z-index: 6;
}
.owl-controls .owl-next {
  right: 0px;
}
.owl-controls .owl-next i {
  color: #888;
  font-size: 20px;
}
.owl-controls .owl-prev i {
  color: #888;
  font-size: 20px;
}
/* owl dots */
.owl-theme .owl-dots {
  text-align: center;
  margin-top: 10px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
  background: #eeeeee;
  border: 2px solid #555555;
  border-radius: 50%;
  transform: rotate(45deg);
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.8;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 12px;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #333333;
}

/*
 * Blog
 * -----------------------------------------------
*/
.post .entry-header {
  position: relative;
  overflow: hidden;
}
.post .entry-title {
  margin-top: 0;
}
.post .entry-content {
  background: #F0F0F0;
  padding: 15px;
}
.post .entry-date {
  font-size: 13px;
}
.post .entry-meta.meta-absolute {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.post .entry-meta.meta-absolute i {
  display: block;
  font-size: 28px;
}
.post .entry-meta.meta-absolute span a {
  color: #454545;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 2px;
  margin-right: 5px;
}
.post.media-post .post-thumb {
  float: left;
  margin: 0 10px 10px 0;
}
.post .post-thumb {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.trainer-item {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.trainer-item:hover:before {
  height: 100%;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
}
.trainer-item .trainer-info {
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 100%;
}
.trainer-item .trainer-info .trainer-biography {
  bottom: 10%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  z-index: 3;
}
.trainer-item:hover .trainer-biography {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.trainer-item .social-network {
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  top: -50px;
  -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  z-index: 3;
}
.trainer-item .social-network li a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #FFF;
}
.trainer-item:hover .social-network {
  top: 20%;
}
/* Trainer Style 2 */
.box-hover-effect.effect1:hover .thumb img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.box-hover-effect.effect1:hover .thumb:before {
  -webkit-transform: rotate(-59deg);
  -ms-transform: rotate(-59deg);
  -o-transform: rotate(-59deg);
  transform: rotate(-59deg);
}
.box-hover-effect.effect1:hover .thumb:hover {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.box-hover-effect.effect1:hover .thumb img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.box-hover-effect.effect1 .thumb::before {
  -webkit-transform: rotate(-59deg);
  -ms-transform: rotate(-59deg);
  -o-transform: rotate(-59deg);
  transform: rotate(-59deg);
}
.box-hover-effect.effect1 .thumb:hover {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.btn-circled {
  border-radius: 25px;
}
.btn-flat {
  border-radius: 0;
}
/* -------- Btn-xs ---------- */
.btn-xs {
  font-size: 11px;
  padding: 3px 12px;
}
/* -------- Btn-sm ---------- */
.btn-sm {
  font-size: 12px;
  padding: 5px 13px;
}
/* -------- Btn-Default ---------- */
.btn {
  font-size: 14px;
  padding: 7px 15px;
}
/* -------- Btn-lg ---------- */
.btn-lg {
  font-size: 14px;
  padding: 10px 20px;
}
/*
 * Shortcode: dividers.less
 * -----------------------------------------------
*/
.divider {
  background-repeat: repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* -------- Parallax ---------- */
.parallax {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: top center;
}
.mobile-parallax {
  background-size: cover !important;
  background-attachment: scroll !important;
  background-position: center center;
}
.divider .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
/*
 * Shortcode: Font-Icons-Style.less
 * -----------------------------------------------
*/
/* common style */
.social-icons a {
  color: #333333;
  font-size: 18px;
  height: 32px;
  line-height: 32px;
  width: 32px;
  float: left;
  margin: 5px 7px 5px 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-icons a:hover {
  color: #666666;
}
.social-icons.icon-gray a {
  background-color: #eeeeee;
  color: #555555;
  display: block;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  width: 36px;
}
.social-icons.icon-gray a:hover {
  color: #bbbbbb;
}
.social-icons.icon-gray.icon-bordered a {
  background-color: transparent;
  border: 2px solid #eeeeee;
}
.social-icons.icon-gray.icon-bordered a:hover {
  border: 2px solid #d5d5d5;
}
.social-icons.icon-dark a {
  background-color: #111111;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  width: 36px;
}
.social-icons.icon-dark a:hover {
  color: #5e5e5e;
}
.social-icons.icon-dark.icon-bordered a {
  background-color: transparent;
  border: 2px solid #111111;
  color: #111111;
}
.social-icons.icon-dark.icon-bordered a:hover {
  background-color: #111111;
  border-color: #111111;
  color: #fff;
}
.social-icons.icon-bordered a {
  border: 1px solid #777777;
}
.social-icons.icon-bordered a:hover {
  background-color: #777777;
  color: #fff;
}
.social-icons.icon-rounded a {
  border-radius: 3px;
}
.social-icons.icon-circled a {
  border-radius: 50%;
}
.social-icons.icon-sm a {
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  width: 30px;
}
.social-icons.icon-md a {
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}
.social-icons.icon-lg a {
  font-size: 32px;
  height: 60px;
  line-height: 60px;
  width: 60px;
}
.social-icons.icon-xl a {
  font-size: 60px;
  height: 120px;
  line-height: 120px;
  width: 120px;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}
/*
 * Shortcode: Funfacts.less
 * -----------------------------------------------
*/
.funfact {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.funfact.border {
  border: 1px solid #d3d3d3;
}
.funfact.no-border {
  border: 0;
}
.funfact.border {
  border: 1px solid #d3d3d3;
}
.funfact i {
  font-size: 45px;
}
.funfact .animate-number {
  position: relative;
  line-height: 1;
}
.funfact .animate-number:after {
  bottom: 0;
}
.funfact span {
  color: #eeeeee;
  font-size: 18px;
}
/*
 * Shortcode: Icon Boxes
 * -----------------------------------------------
*/
.icon-box {
  margin-bottom: 30px;
}
.icon-box .icon {
  display: inline-block;
  height: 70px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 70px;
}
.icon-box .icon i {
  line-height: 70px;
}
.icon-box .icon.icon-circled {
  border-radius: 50%;
}
.icon-box .icon.icon-xs {
  height: 30px;
  width: 30px;
}
.icon-box .icon.icon-xs i {
  font-size: 18px;
  line-height: 30px;
}
.icon-box .icon.icon-sm {
  height: 50px;
  width: 50px;
}
.icon-box .icon.icon-sm i {
  font-size: 22px;
  line-height: 50px;
}
.icon-box .icon.icon-md {
  height: 75px;
  width: 75px;
}
.icon-box i {
  display: inline-block;
  font-size: 40px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-box i[class*="pe-7s-"] {
  vertical-align: text-bottom;
}
.icon-box.left {
  text-align: left;
}
.icon-box.left a {
  margin-right: 30px;
  padding: 0;
}
.icon-box.iconbox-border {
  border: 1px solid #dcdcdc;
}
.icon-box.iconbox-bg {
  background-color: #fafafa;
}
.icon-box.iconbox-bg.iconbox-bg-dark {
  background-color: #333333;
}
.icon-box .icon-box-title {
  margin-bottom: 15px;
}
.rotate {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 700ms ease-in-out 0s;
  -o-transition: all 700ms ease-in-out 0s;
  transition: all 700ms ease-in-out 0s;
}
.no-rotate {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 700ms ease-in-out 0s;
  -o-transition: all 700ms ease-in-out 0s;
  transition: all 700ms ease-in-out 0s;
}
/*
 * Shortcode: Pricing
 * -----------------------------------------------
*/
.pricing-table {
  position: relative;
}
.pricing-table .table-price {
  color: #111111;
  font-size: 45px;
}
.pricing-table .table-price span {
  font-size: 13px;
  vertical-align: middle;
}
.pricing-table.featured {
  border: 1px solid #111111;
}
.pricing-table .table-type {
  display: inline;
}
.pricing-table .btn-signup {
  margin-right: 0;
  width: 100%;
}

.pricing-table .table-list {
  list-style: outside none none;
  padding: 10px 0 10px 20px;
  background: #f8f8f8;
}
.pricing-table .table-list.list.check-circle li:before {
  content: "";
  font-family: fontawesome;
  font-size: 24px;
  vertical-align: middle;
}
.pricing-table .table-list li {
  border-bottom: 1px solid #ededed;
  padding: 5px 0;
}
.section-title .title {
  line-height: 1.1;
  margin-top: 0;
  position: relative;
}
.section-title p {
  font-size: 16px;
}
.section-title p.left-bordered {
  border-left: 2px solid #c0c0c0;
  padding-left: 10px;
}
.section-title p.right-bordered {
  border-right: 2px solid #c0c0c0;
  padding-right: 10px;
}
/*Theme Section Title*/
.section-title {
  margin-bottom: 30px;
}
/*
 * Shortcode: Tabs.less
 * -----------------------------------------------
*/
.tab-content {
  padding: 15px;
  border: 1px solid #eeeeee;
}
/* -------- Testimonial-Carousel ---------- */
.testimonial-carousel,
.testimonial-carousel-style2 {
  /* fullwidth */
}
.testimonial-carousel .quote,
.testimonial-carousel-style2 .quote,
.testimonial-carousel .thumb,
.testimonial-carousel-style2 .thumb {
  margin-bottom: 40px;
}
.testimonial-carousel .quote i,
.testimonial-carousel-style2 .quote i {
  background: #555555;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  height: 60px;
  line-height: 1;
  padding: 20px 0 0;
  text-align: center;
  width: 60px;
}
.testimonial-carousel .author,
.testimonial-carousel-style2 .author {
  margin-top: 30px;
  text-transform: uppercase;
}
.testimonial-carousel.owl-theme .owl-controls,
.testimonial-carousel-style2.owl-theme .owl-controls {
  margin-top: 10px;
}
.testimonial-carousel.fullwidth .content p,
.testimonial-carousel-style2.fullwidth .content p {
  font-size: 15px;
  font-style: italic;
  color: #fff;
}
.widget .list-border li {
  border-bottom: 1px dashed #d3d3d3;
}
.widget.dark .list-border li {
  border-bottom: 1px dashed #333333;
}
/* -------- Footer & Sidebar Widgets ---------- */
.widget {
  margin-bottom: 40px;
}
.widget .widget-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.widget ul li {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.widget ul.list li,
.widget .post {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.widget.brochures > li {
  margin-bottom: 10px;
  padding: 10px;
}
.widget.brochures i {
  color: #666666;
  font-size: 16px;
  margin-right: 10px;
}
.widget.address > li {
  font-size: 13px;
  margin-bottom: 10px;
  padding: 5px 10px;
}
.widget.address > li i {
  font-size: 16px;
  margin-right: 8px;
  vertical-align: middle;
}
.widget .social-icons li {
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget .social-icons li a {
  margin-bottom: 0;
}
.tags a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.7;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  color: #292B33;
  display: inline-block;
  font-size: 12px;
  margin: 5px 4px 5px -2px;
  padding: 5px 10px;
  border: 1px solid #292B33;
}
.tags a:hover {
  color: #fff;
  background-color: #ABD62E;
}
.widget .search-input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  border-radius: initial;
  box-shadow: none;
  height: 45px;
  padding: 10px;
}
.widget .search-button {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  border-radius: 0;
  height: 45px;
}
.widget .nav-tabs li {
  border-bottom: 1px solid transparent;
  margin-bottom: -2px;
  padding-bottom: 0;
}
.widget .nav-tabs li:hover {
  border-bottom: 1px solid transparent;
}
.widget .post-title a {
  font-size: 13px;
  letter-spacing: 0;
}
.widget .quick-contact-form .form-control {
  background-color: rgba(241, 241, 241, 0.8);
  border-color: #d3d3d3;
  color: #a9a9a9;
}
.widget .product-list .product-title {
  font-size: 14px;
  font-weight: 400;
}
.widget.dark .widget-title {
  color: #fff;
}
.widget.dark .tags a {
  border: 1px solid #ABD62E;
}
.widget.dark .widget-image-carousel .title {
  color: #fff;
}
.widget.dark .post-title a {
  color: #c0c0c0;
}
.widget.dark .tab-content {
  background: #333333 none repeat scroll 0 0;
  border: 1px solid #555555;
}
.widget.dark .quick-contact-form .form-control {
  background-color: rgba(51, 51, 51, 0.3);
  border-color: #333333;
}
.widget.no-border ul li {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.widget ul.list li::before {
  display: none;
}
.widget.dark ul.list li::before {
  display: none;
}
/* --------Horizontal Contact Widget  ---------- */
.horizontal-contact-widget {
  border-top: 1px dashed #d3d3d3;
}
.horizontal-contact-widget .each-widget::before {
  content: "\f111";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  right: 0;
  top: -42px;
}
/* -------- Horizontal Contact Widget Dark ---------- */
.horizontal-contact-widget.dark {
  border-top: 1px dashed #333333;
}
.widget.dark .btn.btn-default {
  border-color: #333;
}
/*
 * Footer.less
 * -----------------------------------------------
*/
.footer {
  padding: 60px 0 0;
  color: #E8E8E8;
}
.footer a {
  color: #E8E8E8;
}

.footer a:focus,
.footer a:hover,
.footer a:active {
  color: #666666;
}
.footer .widget .widget-title {
  margin-top: 0px;
}

.rev_slider_wrapper .btn {
  padding: 10px 20px !important;
}

.width-100 {
  width: 100%;
}
