<div class="corporation-part cr-how" style="display: none;">
  <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
    Jak działamy
  </h3>

  <ol style="list-style: decimal;" class="ml-20 text-justify">
    <li class="mb-20">
      Pierwsze spotkanie odbywa się z managerami / hr podczas którego prezentujemy co jesteśmy wstanie zrobić dla
      pracowników, jak wyglądają materiały edukacyjne i spotkania z pracownikami, ustalamy ilość lekcji oraz
      optymalizujemy czas przyszłych spotkań z pracownikami.
    </li>

    <li class="mb-20 text-justify">
      Proponujemy wykład dla pracowników, z którego dowiadują się kim jesteśmy, czym się zajmujemy i co możemy dla nich
      zrobić lub przekazujemy materiały pracownikom, z których mogą uzyskać takie informacje.
    </li>

    <li class="mb-20 text-justify">
      Spotkania z pracownikami:

      <ul style="list-style: disc;" class="m-20">
        <li class="mb-20">
          Podczas każdego spotkania mamy ze sobą analizator składu ciała, przy pomocy którego sprawdzamy masę ciała, zawartość
          tkanki tłuszczowej i wody w organizmie, co pokazuje efekty uzyskane od poprzednich zajęć, omawiamy rezultaty i
          wspólnie ustalamy przyszły cel.
        </li>

        <li class="mb-20">
          Omawiamy wybrane zajęcia tematyczne, wspólnie wybieramy najlepsze rozwiązania dla danej osoby.
        </li>

        <li>
          Wprowadzamy zadania do wykonania w domu dla pracowników, aby po naszym spotkaniu korzystali ze zdobytej wiedzy i
          utrwalali ją.
        </li>
      </ul>
    </li>

    <%= image_tag('korporacje/teczka_fitmymind.jpg') %>
  </ol>

</div>
