<div class="corporation-part cr-how" style="display: none;">
  <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
    Jak działamy
  </h3>


  <h4></h4>

  <p class="text-justify">

  </p>
</div>
