<div class="corporation-part cr-offer" style="display: none;">
  <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
    Oferta corporacje
  </h3>

  <p class="text-justify">

  </p>

</div>
