<div class="corporation-part cr-prices" style="display: none;">
  <div class="section-title text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="title text-uppercase">Cennik <span class="text-black font-weight-300"> Pakietów</span></h2>
        <p class="text-uppercase letter-space-4">
          Jeżeli nie znajdą Państwo pakietu odpowiadającego Państwa potrzebom, prosimy o kontakt w celu
          indywidualnej wyceny
        </p>
      </div>
    </div>
  </div>

  <div class="section-content">
    <div class="row">

      <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
        <div class="pricing-table style1 bg-white-light border-2px border-theme-colored text-center">
          <div class="pt-40 pb-60">
            <h3 class="package-type mt-40">Pakiet Zdrowie S</h3>
            <p>Pojedyncza wizyta</p>
            <p>Na próbę</p>
            <h2 class="price text-theme-colored mb-10 font-weight-300 font-48">
              1 250 zł
            </h2>
            <h4>brutto</h4>
            <ul class="list text-left table-list bg-lightest mb-20 check-circle">
              <li>Spotkanie wprowadzające z HR</li>
              <li>1 dzień</li>
              <li>8h na dzień</li>
              <li>Max. 15 pracowników na dzień</li>
              <li>Analizy składu ciała</li>
              <li>Porady dietetyczne</li>
              <li>Darmowy dojazd na terenie Krakowa</li>
            </ul>
            <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Zamów!</a><br>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
        <div class="pricing-table style1 bg-white-light border-2px border-theme-colored text-center">
          <div class="pt-40 pb-60">
            <h3 class="package-type mt-40">Pakiet Zdrowie M</h3>
            <p>2 wizyty w miesiącu</p>
            <p>Dla firm 10-20 pracowników</p>
            <h2 class="price text-theme-colored mb-10 font-weight-300 font-48">
              2 250 zł
            </h2>
            <h4>brutto / miesięcznie</h4>
            <ul class="list text-left table-list bg-lightest mb-20 check-circle">
              <li>Spotkanie wprowadzające z HR</li>
              <li>2 dni (raz na dwa tygodnie)</li>
              <li>8h na dzień</li>
              <li>Max. 15 pracowników na dzień</li>
              <li>Analizy składu ciała</li>
              <li>Porady dietetyczne</li>
              <li>Darmowy dojazd na terenie Krakowa</li>
              <li>Kurs 4 specjalistycznych lekcji</li>
              <li>Wykład wprowadzające</li>
            </ul>
            <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Zamów!</a><br>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
        <div class="pricing-table style1 bg-white-light border-2px border-theme-colored text-center">
          <div class="pt-40 pb-60">
            <h3 class="package-type mt-40">Pakiet Zdrowie L</h3>
            <p>4 wizyty w miesiącu</p>
            <p>Dla firm 20-50 pracowników</p>
            <h2 class="price text-theme-colored mb-10 font-weight-300 font-48">
              4 000 zł
            </h2>
            <h4>brutto / miesięcznie</h4>
            <ul class="list text-left table-list bg-lightest mb-20 check-circle">
              <li>Spotkanie wprowadzające z HR</li>
              <li>4 dni (1 raz w tygodniu)</li>
              <li>8h na dzień</li>
              <li>Max. 15 pracowników na dzień</li>
              <li>Analizy składu ciała</li>
              <li>Porady dietetyczne</li>
              <li>Darmowy dojazd na terenie Krakowa</li>
              <li>Kurs 8 specjalistycznych lekcji</li>
              <li>Wykład wprowadzające</li>
            </ul>
            <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Zamów!</a><br>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
