<div class="corporation-part cr-profit-employer" style="display: none;">
  <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
    Co zyskuje pracodawca
  </h3>

  <h4>Benefit dla pracownika</h4>

  <p class="text-justify">
    Czynnikiem ryzyka wielu schorzeń jest nadwaga i otyłość, m.in. chorób układu krążenia, układu oddechowego,
    kostno-szkieletowego, nerwowego, a także zaburzeń psychicznych np. niska samoocena (Jarosz i Rychlik, 2011; WHO,
    2007). Zmniejszony poziom energii pracowników wpływa na niechęć do korzystania z benefitów gwarantowanych przez
    pracodawcę. Jesteśmy pierwszym krokiem ! Do tego, aby Twój personel zaczął korzystać z już dostępnych działań
    prozdrowotnych w firmie.
  </p>

  <h4>Przywiązanie się pracownika do firmy</h4>

  <p class="text-justify">
    Przedsięwzięcia promujące zdrowie pracowników jako element szerszej strategii społecznej odpowiedzialności
    biznesu (corporate social responsibility – CSR). Bycie odpowiedzialnym nie oznacza tylko spełniania przez
    przedsiębiorstwa wymogów formalnych i prawnych, ale również zwiększone inwestycje w pracowników, nierzadko ich
    rodziny. Wpływa to na utożsamianie się pracowników z ideą firmy promującą zdrowie, które pomaga realizować inne cele
    w życiu, jest czynnikiem zapalnym do udanego i szczęśliwego życia (Czapiński, 2015, s. 272.)
  </p>

  <h4>Zmniejszenie fluktuacji kadry </h4>

  <p class="text-justify">
    Od 2011 r. w Polsce obserwuje się wzrost nakładów na rekrutację zewnętrzną oraz wydłużenie się procesów
    pozyskiwania nowych pracowników. W latach 2011-2015 przeciętny koszt i czas rekrutacji wzrosły o 40% (badania
    Saratoga Human Capital Benchmarking, PwC, 2015). Pracownicy nieusatysfakcjonowany z pracy, zestresowani, mający
    nienajlepsze relacje w firmie wykazują większe prawdopodobieństwo wypowiedzenia pracy, ponieważ przewidują że nowe
    miejsce pracy będzie lepsze. Negatywnie oddziałuje to na przywiązanie pracownika do firmy, jego lojalność. Poprawa
    samooceny oraz lepsza witalność sugeruje umocnienie relacji pracowników oraz przyczynia się do zmniejszenia
    fluktuacji kadry (Bevan, 2010, EU-OSHA, 2012).
  </p>

  <h4>Wizerunek firmy</h4>

  <p class="text-justify">
    Wizerunek publiczny: Firma promująca zdrowie personelu, tego typu działania wpisane są w misję i strukturę
    zakładu pracy, realizowane są systematycznie. Tego typu firma postrzegana jest na zewnątrz jako dobrze prosperująca,
    dbająca o pracowników, nowocześnie zarządzana, odpowiedzialna społecznie.
  </p>

  <p class="text-justify">
    W badaniu „Working well” 98% biorących w nim udział pracodawców z Polski zainteresowanych tematyką zarządzania
    zdrowiem personelu uważa, że ważnym celem programów prozdrowotnych jest wypełnianie społecznej odpowiedzialności
    firmy (Buck Consultants i Xerox, 2014).
  </p>

  <h4>Produktywny pracownik, ograniczenie prezentyzmu</h4>

  <p class="text-justify">
    Jest wiele aspektów produktywności pracowników, które u osób zdrowych mają wyższy poziom m.in. energia,
    samopoczucie, witalność, zdolność koncentracji, wysiłek wkładany w wykonywanie zadań, odporność na choroby,
    niezawodność, bycie wsparciem dla współpracowników, identyfikację z placówką, radzenie sobie ze stresem. Zdrowie
    odpowiada za wszystkie elementy składające się na wydajność personelu. Poziom produktywności spada u pracowników
    chorych, co może nasilać w firmie zjawisko prezentyzmu (z ang. preseteeism), czyli obniżonej produktywności
    spowodowanej gorszym stanem zdrowia, czy nieefektywnej obecności w pracy (Wężyk i Merecz, 2013).
  </p>

  <p class="text-justify">
    Otyli pracownicy mają 80 % wydajności pracowników z prawidłową masą ciała, częściej otrzymują negatywne oceny w
    pracy oraz mają niższe wynagrodzenie z powodu większej średniej ilości dni zwolnień chorobowych.
  </p>

  <h4>Mniej zwolnień lekarskich, lepsza atmosfera</h4>

  <p class="text-justify">
    Nieobecność w pracy personelu z powodu choroby generuje wysokie koszty dla pracodawcy. Bezpośrednie dotyczą
    wynagrodzeń za czas nieobecności w pracy, zastępstwa i nadgodziny (potrzeba wykonania pracy za pracownika na
    zwolnieniu). Pośrednie to m.in. koszty administracyjne obsługi zwolnień, rekrutacji, szkolenie nowych pracowników,
    problemy z realizacją kontraktów, obniżona jakość pracy wykonywanej przez niedoświadczonych pracowników, będących w
    zastępstwie (Baven, 2010). Niektóre szacunki mówi, że koszty pośrednie mogą być wyższe od bezpośrednich (EU-OSHA,
    2012).
  </p>

  <p class="text-justify">
    Przegląd systematyczny badań przeprowadzonych w Europie pokazał, że chorzy na otyłość mieli rocznie na osobę
    około 10 dni więcej zwolnień chorobowych niż osoby z prawidłową masą ciała.
  </p>

  <p class="text-justify">
    W przypadku długotrwałego stresu i niedoborów pokarmowych może dojść do rozwoju depresji, która obecnie dotyczy
    coraz większej ilości osób pracujących zawodowo.
  </p>

  <h4>Wyróżnienie na tle konkurencji</h4>

  <p class="text-justify">
    Budowanie marki dobrego pracodawcy - miano employer branding, są to firmy, w których obecni i potencjalni
    pracownicy dostrzegają atrakcyjne środowisko dla pracy i rozwoju swojej kariery.
  </p>

  <h4>Integracja pracowników </h4>

  <p class="text-justify">
    Zdrowe odżywianie wiążę się z planowaniem, dobrą organizacją czas, umiejętnościami kulinarnymi i znajomością
    produktów w sklepach. Twoi pracownicy mimowolnie zaczną mieć wspólne tematy i będą działać jak team. Zdrowy styl
    życia budzi chęć do aktywności fizycznej dzięki czemu pracownicy wspólnie zaczną korzystać z zajęć fizycznych po
    pracy, nakłania do wzrostu oczekiwań wobec siebie i innych, aby osiągać cele Twoi pracownicy będą zmuszeni
    rozmawiać, rozmowa daje wiedzę, a rozmowa podczas jedzenia i o jedzeniu bywa bardzo przyjemna.
  </p>

</div>
