<div class="corporation-part cr-profit-employer" style="display: none;">
  <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
    Co zyskuje pracodawca
  </h3>

  <h4>Wizerunek firmy</h4>

  <p class="text-justify">
    Zostań firmą która systematycznie promuje zdrowie personelu, w której tego typu działania wpisane są w misję i
    strukturę zakładu pracy. Taka firma postrzegana jest na zewnątrz jako dobrze prosperująca, dbająca o pracowników,
    nowocześnie zarządzana, odpowiedzialna społecznie.
  </p>

  <h4>Wyróżnienie na tle konkurencji</h4>

  <p class="text-justify">
    Rozpocznij z naszą pomocą budowanie marki dobrego pracodawcy - przyjmując miano employer branding, są to firmy, w
    których obecni i potencjalni pracownicy dostrzegają atrakcyjne środowisko dla pracy i rozwoju swojej kariery.
  </p>

  <h4>Produktywny pracownik, ograniczenie prezentyzmu</h4>

  <p class="text-justify">
    Otyli pracownicy mają 80 % wydajności pracowników z prawidłową masą ciała, częściej otrzymują negatywne oceny w
    pracy oraz mają niższe wynagrodzenie z powodu większej średniej ilości dni zwolnień chorobowych. Zdrowie odpowiada
    za wszystkie elementy składające się na wydajność personelu. Poziom produktywności u chorych spada, co może nasilać
    zjawisko prezentyzmu (z ang. preseteeism), czyli nieefektywnej obecności w pracy (Wężyk i Merecz, 2013).
  </p>

  <div class="row">
    <div class="col-md-8">
      <h4>Przywiązanie się pracownika do firmy </h4>

      <p class="text-justify">
        Pracownicy chcą utożsamiać się z ideą firmy promującą zdrowie, które pomaga realizować inne cele w życiu (Czapiński,
        2015, s. 272.). Potraktuj benefit jako element szerszej strategii społecznej odpowiedzialności biznesu (corporate
        social responsibility – CSR). Bądź odpowiedzialny za swoich pracowników i ich rodziny, zyskasz oddanego pracownika.
        (Buck Consultants i Xerox, 2014).
      </p>

      <h4>Mniej zwolnień lekarskich</h4>

      <p class="text-justify">
        Przegląd systematyczny badań przeprowadzonych w Europie pokazał, że chorzy na otyłość mieli rocznie na osobę około
        10 dni więcej zwolnień chorobowych niż osoby z prawidłową masą ciała. Nieobecność w pracy personelu z powodu choroby
        generuje wysokie koszty bezpośrednie np. dotyczące wynagrodzeń za czas nieobecności w pracy i pośrednie np. problemy
        z realizacją kontraktów (Baven, 2010).
      </p>
    </div>

    <div class="col-md-4 mt-40">
      <%= image_tag 'korporacje/korporacje_sukces.jpg' %>
    </div>
  </div>


  <h4>Benefit dla pracownika</h4>

  <p class="text-justify">
    Pracownicy coraz częściej zwracają uwagę na benefity jakie oferują firmy, ale często mimo dostępnej już szerokiej
    oferty brakuje zapalnika, który zwiększy poziom energii i chęci do ich wykorzystywania. Jesteśmy pierwszym krokiem !
    Do tego, aby Twój personel zaczął korzystać z już dostępnych działań prozdrowotnych w firmie.
  </p>

</div>
