<div class="corporation-part cr-profit-employ" style="display: none;">
  <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
    Co zyskuje pracownik
  </h3>

  <h4>Regularne wizyty dietetyka</h4>

  <p class="text-justify">
    Indywidualne podejście oraz stała kontrola specjalisty żywieniowego, uczymy się regularnych spotkań, które zachęcają
    do uzyskiwania jak najlepszych efektów.
  </p>

  <div class="row mb-40 mt-50">
    <div class="col-md-8">
      <h4>Świadomość zdrowia</h4>
      <p class="text-justify">
        Na choroby nie pracujemy tydzień czy miesiąc, bardzo często na choroby pracujemy latami. Przekazujemy wiedzę, która
        pozwoli jak najdłużej utrzymać Twój organizm w zdrowiu. Korzystamy z badań naukowych, sprawdzonej wiedzy, popartej
        indywidualnym podejściem.
      </p>

      <h4>Zmiana w lepszą wersję siebie</h4>
      <p class="text-justify">
        Dajemy możliwość stania się lepszą wersją samego siebie, uczymy jak jeść przez pryzmat tego co potrzebuje nasze
        ciało, aby w pełni korzystać ze swojego potencjału.
      </p>
    </div>

    <div class="col-md-4 mt-10">
      <%= image_tag 'korporacje/korporacje_joga.jpg', class: 'width-100' %>
    </div>
  </div>

  <h4>Polepszenie zdrowia poprzez grywalizację</h4>

  <p class="text-justify">
    Wprowadzamy grywalizację, aby podnieść zaangażowanie do dbania o Twoje własne zdrowie. Jest to świetna zabawa i
    forma motywacji, dzięki czemu fundujesz sobie trwałą zmianę postawy na promującą zdrowie.
  </p>

  <div class="row mt-40">
    <div class="col-md-4 mt-20">
      <%= image_tag 'korporacje/korporacje_delegacja.jpg', class: 'width-100' %>
    </div>

    <div class="col-md-8 mt-20">
      <h4>Porady dotyczące wyjazdów, delegacji, wakacji</h4>
      <p class="text-justify">
        Uczymy jak rozsądnie utrzymywać zdrowe odżywianie poza domem. Dajemy gotowe rozwiązania, należy je tylko wdrożyć w
        życie.
      </p>
    </div>
  </div>

  <div class="row mt-40">
    <div class="col-md-8">
      <h4>Chęć do korzystania z benefitów</h4>
      <p class="text-justify">
        Jesteśmy pierwszym krokiem, zapalnikiem do zwiększenia poziomu energii naturalnymi sposobami. Odżywiamy i
        motywujemy, po naszych spotkaniach sam będziesz chciał korzystać z już dostępnych benefitów w firmie.
      </p>
    </div>

    <div class="col-md-4 mt-10">
      <%= image_tag 'korporacje/korporacje_energia.jpg', class: 'width-100' %>
    </div>
  </div>

</div>
