<div class="sidebar sidebar-right mt-sm-30">

  <div class="widget">
    <div class="categories">
      <ul class="list list-border angle-double-right">
        <li>
          <a href="#" data-target="cr-why" class="main cr-menu-tags active">Dlaczego właśnie my</a>
        </li>

        <li>
          <a href="#" data-target="cr-profit" class="main cr-menu-tags">Co zyskujesz</a>
        </li>

        <li>
          <a href="#" data-target="cr-offer" class="main cr-menu-tags">Co oferujemy</a>
        </li>

        <li>
          <a href="#" data-target="cr-prices" class="main cr-menu-tags">Cennik</a>
        </li>

      </ul>
    </div>
  </div>

</div>
