<div class="corporation-part cr-why-fitmymind" style="display: none;">
  <div class="col-md-12">
    <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
      Dlaczego <%= image_tag 'fitmymind_szare.jpg', size: '150x34', class: 'mb-5' %>
    </h3>
  </div>

  <div class="col-md-7">
    <p class="text-justify mb-40">
      Jesteśmy firmą z 8 letnim doświadczeniem w branży żywieniowej, mamy najlepiej wykwalifikowaną kadrę składającą się
      z dietetyków klinicznych i psychodietetyków, mamy wsparcie działu medycznego Metabolic Balance Polska oraz
      Instytutu Metabolic Balance GmbH w Niemczech. Kluczem do sukcesu jest zaplanowany przebieg konsultacji
      żywieniowych, które przez lata doświadczeń stworzyliśmy, aby umożliwić jak najlepsze korzystanie z naszych usług.
      Aleksandra Kucharczyk jest twórcą projektu FitMyMind, który ma za zadanie nauczyć pracowników w jaki sposób mają
      dbać o siebie pod kątem żywieniowym, aby to co każdego dnia spożywają pozytywnie wpływało na ich zdrowie i chęć do
      pracy. Mamy świadomość jak żywienie wpływa na pracowników, na ich efektywność w pracy. Na co zwraca uwagę przyszły
      pracownik, dlaczego obecny chce być w Waszej firmie. Wszystkie dane oparte są o badania prowadzone na przestrzeni
      lat i tylko na solidnej wiedzy opieramy swoją pracę. Jeżeli chcesz, aby Twój pracownik wiedział, że dbasz o jego
      zdrowie, potrzebujesz nas, abyśmy go przeszkolili by stał się ekspertem żywieniowym swojego organizmu.
    </p>

  </div>

  <div class="col-md-5" style="border: none">
    <%= image_tag 'korporacje/korporacje_facet.jpg' %>
  </div>

</div>
