<div class="corporation-part cr-why" style="border-bottom: none !important;">
  <div class="col-md-12">
    <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
      Dlaczego warto
    </h3>
  </div>

  <div class="col-md-7">
    <h4>Benefity niepieniężne</h4>
    <p class="text-justify">
      Aż 25 % polskich respondentów w międzynarodowym badaniu Bupa wskazuje na potrzebę zwiększenia swojego poziomu
      energii, aby uczestniczyć w działaniach prozdrowotnych oferowanych w zakładzie pracy (Pracodawcy RP, Luxmed,
      2014).
    </p>

    <p class="text-justify">
      W badaniu zrealizowanym na zlecenie Bupa, aż 43% pracowników z Polski, w przyszłości będzie rozważało pracę
      wyłącznie w firmiach, które priorytetowo traktują zdrowie i dobre samopoczucie personelu (Pracodawcy RP, Luxmed,
      2015).
    </p>

    <h4>Badania mówią: "Dbaj o zdrowie"</h4>

    <p class="text-justify">
      choroby dominujące w społeczeństwie to choroby przewlekłe, cywilizacyjne, wynikające z trudnych do ustalenia
      czynników, które składają się na styl życia, a w nim zdrowe odżywianie. Prawie połowa (46%) osób pracujących w
      Polsce odczuwa długotrwałe problemy zdrowotne GUS (2016).
    </p>

    <h4>Life-work balance</h4>

    <h4>Pracownik na dłużej</h4>

    <p class="text-justify">
      70 % pracowników firm stwierdza, że duże znaczenie ma dla nich to, by pracodawca poważnie traktował ich zdrowie i samopoczucie. Ponad ⅖ osób chce w przyszłości rozważać pracę tylko w firmach, które szczególnie traktują zdrowie pracowników, co 4 osoba deklaruje że odejdzie z aktualnej pracy, jeżeli pracodawca nie zacznie poważnie podchodzić do jego potrzeb zdrowotnych (Pracodawcy RP i Lux Med, 2014).
    </p>

    <p class="text-justify">
      badania zagraniczne (Bevan S. 2010) pokazują, że pracodawca dbający o pracownika, poważnie traktujący jego zdrowie ma większą szansę na przyciągnięcie dobrych kandydatów, mniej długookresowych wakatów, traci mniej pracowników, którzy wybierają konkurencję.
    </p>

    <h4>Inwestycja</h4>

    <p class="text-justify">
      wdrożenie programów promocji zdrowia, w celu zmniejszenia nadwagi i otyłości oraz chorób towarzyszących i zwolnień lekarskich, wydłużenie aktywności zawodowej pracowników, w których umiejętności często inwestuje pracodawca jest uzasadnioną korzyścią ekonomiczną dla pracodawcy.
    </p>

    <h4>Innowacyjne podejście do zdrowia</h4>

    <p class="text-justify">
      popularne powiedzenie głosi, że zdrowie jest sprawą zbyt poważną, by powierzyć je wyłącznie lekarzom. Stąd zdrowiem – w teorii i praktyce – zajmują się współcześnie także przedstawiciele innych profesji m.in. dietetyki. Przykładowo, osobami odpowiedzialnymi za zarządzanie zdrowiem personelu w średnich i dużych firmach nie są już lekarze medycyny pracy, rzadko też specjaliści BHP, a najczęściej menedżerowie HR (Buck Consultants i Xerox, 2014; Puchalski i Korzeniowska, 2017).
    </p>
  </div>

  <div class="col-md-5" style="border: none">
    <%= image_tag 'korporacje/korporacje_gosciu.jpg' %>
  </div>

</div>
