<div class="corporation-part cr-why" style="border-bottom: none !important;">
  <div class="col-md-12 p-0">
    <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
      Dlaczego warto
    </h3>
  </div>

  <div class="row mb-40">
    <div class="col-md-8 mt-10">
      <h4>Benefity niepieniężne</h4>
      <p class="text-justify mb-20">
        Pracownicy coraz częściej zwracają uwagę na benefity niepieniężne i w przyszłości rozważają pracę tylko w firmach,
        które priorytetowo traktują zdrowie. FitMyMind to wyjątkowy profit mający na celu poprawę zdrowia pracowników i ich rodzin.
      </p>

      <h4>Work-Life balance</h4>

      <p class="text-justify">
        Zrównoważony podział życia zawodowego i prywatnego przekłada się na szczęśliwszego pracownika. FitMyMind jest
        idealnym początkiem wdrożenia WLB, który nie bez powodu staje się standardem w firmach dbających o pracownika.
      </p>
    </div>

    <div class="col-md-4 mt-30">
      <%= image_tag 'korporacje/korporacje_facet.jpg' %>
    </div>
  </div>

  <div class="row mb-40">
    <div class="col-md-4 mt-30">
      <%= image_tag 'korporacje/korporacje_piatka.jpg' %>
    </div>

    <div class="col-md-8 mt-40">
      <h4>Pracownik na dłużej</h4>
      <p class="text-justify">
        WHO sklasyfikowało wypalenie zawodowe jako jeden z syndromów zawodowych. Co wpływa na wypalenie zawodowe m.in.
        długotrwały stres, zła dieta. FitMyMind pozwala na odczuwanie przyjemności z pracy, ponieważ pomagamy odżywiać układ
        nerwowy Twoich pracowników.
      </p>
    </div>
  </div>

  <div class="row mb-40">
    <div class="col-md-8 mt-30">
      <h4>Inwestycja</h4>
      <p class="text-justify">
        Uzasadnioną korzyścią ekonomiczną jest wdrożenie programów promocji zdrowia w celu zmniejszenia nadwagi i otyłości,
        ogranicza to ilość zwolnień lekarskich i wydłuża aktywność zawodową pracowników, w którego umiejętności często
        inwestuje pracodawca.
      </p>
    </div>

    <div class="col-md-4 mt-30">
      <%= image_tag 'korporacje/korporacje_profit.jpg' %>
    </div>
  </div>


  <h4>Dbaj o zdrowie</h4>
  <p class="text-justify">
    Dbaj o zdrowie personelu i zapobiegaj chorobom, ponieważ prawie połowa (46%) osób pracujących w Polsce odczuwa
    długotrwałe problemy zdrowotne (GUS 2016). Stworzyliśmy program FitMyMind, aby wdrożyć plan na zdrowie dla Twoich
    pracowników, co przełoży się na ich efektywność w pracy.
  </p>

  <div class="row mt-20">
    <div class="col-md-4 mt-30">
      <%= image_tag 'korporacje/korporacje_innowacje.jpg' %>
    </div>

    <div class="col-md-8 mt-50">
      <h4>Innowacyjne podejście</h4>
      <p class="text-justify">
        Popularne powiedzenie głosi, że zdrowie jest sprawą zbyt poważną, by powierzyć je wyłącznie lekarzom. Stąd zdrowiem
        – w teorii i praktyce – zajmują się współcześnie także przedstawiciele innych profesji m.in. dietetyki. FitMyMind to
        nowatorskie podejście do zdrowia, oparte o 12 lekcji zdrowego stylu życia, potwierdzonych badaniami naukowymi.
      </p>
    </div>
  </div>

</div>

</div>
