<footer id="footer" class="footer bg-black-222">
  <div class="container pb-50">
    <div class="row border-bottom-black">

      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <img class="mt-10 mb-20" alt="" src="assets/template/spa/logo-wide-white.png">
          <ul class="list-inline mt-5">
            <li class="m-0 pl-10 pr-10">
              <i class="fa fa-map-marker text-theme-colored mr-5"></i>
              <%= link_to 'ul. Dobrego Pasterza 120<br>31-416 Kraków'.html_safe, 'https://goo.gl/maps/4P8xYvXoBwM3ZSXWA', class: 'text-grey', target: '_blank' %>
            </li>
            <li class="m-0 pl-10 pr-10">
              <i class="fa fa-phone text-theme-colored mr-5"></i>
              <a class="text-gray" href="tel:535662313">535 662 313</a>
            </li>
            <li class="m-0 pl-10 pr-10">
              <i class="fa fa-envelope-o text-theme-colored mr-5"></i>
              <%= mail_to 'magdalena.pieszczekbs@gmail.com', 'kontact@healthhatch.com', class: 'text-grey', target: '_blank' %>
            </li>
            <li class="m-0 pl-10 pr-10">
              <i class="fa fa-globe text-theme-colored mr-5"></i>
              <%= link_to 'www.healthhatch.pl', 'http://healthhatch.pl', class: 'text-grey' %>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h5 class="widget-title line-bottom">Latest News</h5>
          <div class="latest-posts">
            <article class="post media-post clearfix pb-0 mb-10">
              <a href="#" class="post-thumb"><img alt="" src="http://placehold.it/80x55"></a>
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5">
                  <a href="#">Sustainable Construction</a></h5>
                <p class="post-date mb-0 font-12">Mar 08, 2015</p>
              </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
              <a href="#" class="post-thumb"><img alt="" src="http://placehold.it/80x55"></a>
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5">
                  <a href="#">Industrial Coatings</a></h5>
                <p class="post-date mb-0 font-12">Mar 08, 2015</p>
              </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
              <a href="#" class="post-thumb"><img alt="" src="http://placehold.it/80x55"></a>
              <div class="post-right">
                <h5 class="post-title mt-0 mb-5">
                  <a href="#">Storefront Installations</a></h5>
                <p class="post-date mb-0 font-12">Mar 08, 2015</p>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h5 class="widget-title line-bottom">Tagi</h5>
          <div class="tags">
            <a href="#">Dieta</a>
            <a href="#">Dietetyk</a>
            <a href="#">Kliniczny</a>
            <a href="#">Odchudzanie</a>
            <a href="#">Plan żywieniowy</a>
            <a href="#">Coach</a>
            <a href="#">Zdrowie</a>
            <a href="#">Tryb życia</a>
            <a href="#">Przemiana</a>
            <a href="#">Metamorfoza</a>
            <a href="#">Utrata wagi</a>
            <a href="#">Hashimoto</a>
            <a href="#">Tarczyca</a>
            <a href="#">PCOS</a>
            <a href="#">Otyłość</a>
            <a href="#">Nadciśnienie</a>
            <a href="#">Depresja</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h5 class="widget-title line-bottom">Godziny Otwarcia</h5>
          <div class="opening-hourse">
            <ul class="list-border">
              <li class="clearfix"><span>Poniedziałek:</span>
                <div class="value pull-right">8.00 - 16.00</div>
              </li>
              <li class="clearfix"><span>Wtorek - Środa:</span>
                <div class="value pull-right">12.00 - 20.00</div>
              </li>
              <li class="clearfix"><span>Czwartek:</span>
                <div class="value pull-right">10.00 - 18.00</div>
              </li>
              <li class="clearfix"><span>Piątek:</span>
                <div class="value pull-right">8.00 - 16.00</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="row mt-10">
      <div class="col-md-5">
        <h4 class="text-white">Zapisz się na Newsletter</h4>
        <form id="mailchimp-subscription-form-footer" class="newsletter-form mt-20">
          <div class="input-group">
            <input type="email" value="" name="EMAIL" placeholder="Twój Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" style="height: 45px;">
            <span class="input-group-btn">
                  <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0 font-14" type="submit">Zapisz się</button>
                </span>
          </div>
        </form>
        <!-- Mailchimp Subscription Form Validation-->
        <script type="text/javascript">
          $('#mailchimp-subscription-form-footer').ajaxChimp({
            callback: mailChimpCallBack,
            url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
          });

          function mailChimpCallBack(resp) {
            // Hide any previous response text
            var $mailchimpform = $('#mailchimp-subscription-form-footer'),
              $response = '';
            $mailchimpform.children(".alert").remove();
            console.log(resp);
            if (resp.result === 'success') {
              $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
            } else if (resp.result === 'error') {
              $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
            }
            $mailchimpform.prepend($response);
          }
        </script>
      </div>
      <div class="col-md-4 col-md-offset-3 mt-20">
        <div class="pull-right">
          <ul class="social-icons icon-bordered small square list-inline mt-10">
            <li><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
            <li><a href="#"><i class="fa fa-skype text-white"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube text-white"></i></a></li>
          </ul>
        </div>
        <div class="pull-left">
          <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/aleksandra-kucharczyk-3/dietetyk/krakow" rel="nofollow" data-zlw-doctor="aleksandra-kucharczyk-3" data-zlw-type="button_calendar_floating_medium" data-zlw-opinion="false" data-zlw-hide-branding="true">Aleksandra
            Kucharczyk - ZnanyLekarz.pl</a>
          <script>!function ($_x, _s, id) {
            var js, fjs = $_x.getElementsByTagName(_s)[0];
            if (!$_x.getElementById(id)) {
              js = $_x.createElement(_s);
              js.id = id;
              js.src = "//platform.docplanner.com/js/widget.js";
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "zl-widget-s");</script>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid copy-right p-20 bg-black-333">
    <div class="row text-center">
      <div class="col-md-12">
        <p class="font-11 text-black-777 m-0">
          <%= mail_to 'maciej.lorens@gmail.com', "Copyright &copy;#{Time.current.year} MLSoftware. All Rights Reserved".html_safe, subject: 'Kontakt ze strony HealthHatch', target: '_blank' %>
        </p>
      </div>
    </div>
  </div>
</footer>

<a class="scrollToTop" href="#">
  <i class="fa fa-angle-up"></i>
</a>
