<section class="bg-theme-colored">
  <div class="container pt-60 pb-60">
    <div class="section-content">
      <div class="row">
        <div class="col-md-8">
          <h3 class="m-0 text-uppercase text-white letter-space-3 font-weidth-400">Choose Your Classes and Start Your Training</h3>
        </div>
        <div class="col-md-4 text-right flip">
          <a href="#" class="btn btn-dark btn-flat btn-md">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</section>