<section id="pricing">
  <div class="container pt-sm-0 pb-sm-20">
    <div class="section-title">
      <div class="row"> </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
          <div class="pricing-table text-center pt-30 pb-0 mt-sm-0 maxwidth400 bg-lighter" data-margin-top="-380px">
            <h3 class="package-type mb-30 text-uppercase">Basic Spa <span class="font-weight-300 clearfix">Program</span></h3>
            <div class="price pt-5 pb-5 bg-black-222"> <div class="price-period">
              <h4 class="text-white"><em>Weakly</em></h4>
            </div> </div>
            <div class="price-amount bg-theme-colored rotate">
              <div class="no-rotate text-white">120<sup>$</sup></div>
            </div>
            <ul class="list table-list text-left flip check-circle pt-40 pb-40 pr-20 bg-lighter">
              <li>Free Consultation</li>
              <li>Introducing Spa Positions</li>
              <li>12 Hour Spa</li>
              <li>Special Take care: No</li>
              <li>Nutrional Plan: No</li>
              <li>Transportation facilities: No</li>
            </ul>
            <a class="btn btn-lg btn-theme-colored text-uppercase btn-block pt-20 pb-20 btn-flat" href="#">Signup</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
          <div class="pricing-table text-center pt-30 pb-0 mt-sm-0 maxwidth400 bg-lighter" data-margin-top="-380px">
            <h3 class="package-type mb-30 text-uppercase">Advanced Spa <span class="font-weight-300 clearfix">Program</span></h3>
            <div class="price pt-5 pb-5 bg-theme-colored"> <div class="price-period">
              <h4 class="text-white"><em>Monthly</em></h4>
            </div> </div>
            <div class="price-amount bg-theme-colored rotate">
              <div class="no-rotate text-white">240<sup>$</sup></div>
            </div>
            <ul class="list table-list text-left flip check-circle pt-40 pb-40 pr-20 bg-lighter">
              <li>Free Consultation</li>
              <li>Fitness Assessment</li>
              <li>24 Hour Yoga</li>
              <li>Special Take care: Yes</li>
              <li>Nutrional Plan: Yes</li>
              <li>Transportation facilities: No</li>
            </ul>
            <a class="btn btn-lg btn-theme-colored text-uppercase btn-block pt-20 pb-20 btn-flat" href="#">Signup</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30">
          <div class="pricing-table text-center pt-30 pb-0 mt-sm-0 maxwidth400 bg-lighter" data-margin-top="-380px">
            <h3 class="package-type mb-30 text-uppercase">Permanent Spa <span class="font-weight-300 clearfix">Program</span></h3>
            <div class="price pt-5 pb-5 bg-black-222"> <div class="price-period">
              <h4 class="text-white"><em>Yearly</em></h4>
            </div> </div>
            <div class="price-amount bg-theme-colored rotate">
              <div class="no-rotate text-white">560<sup>$</sup></div>
            </div>
            <ul class="list table-list text-left flip check-circle pt-40 pb-40 pr-20 bg-lighter">
              <li>Free Consultation</li>
              <li>Fitness Assessment</li>
              <li>24 Hour Yoga</li>
              <li>Special Take care: Yes</li>
              <li>Nutrional Plan: Yes</li>
              <li>Transportation facilities: Yes</li>
            </ul>
            <a class="btn btn-lg btn-theme-colored text-uppercase btn-block pt-20 pb-20 btn-flat" href="#">Signup</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
