<section id="lifestyle">
  <div class="container pb-0 pt-sm-50">
    <div class="bg-lighter bg-img-right-top sm-no-bg mt-sm-0" data-margin-top="-350px" data-bg-img="assets/template/spa/photos/2.png">
      <div class="row">
        <div class="col-md-6 col-md-offset-1 p-sm-40 pt-sm-0 pb-sm-10 pt-50">
          <h2 class="title text-uppercase">HealthZone <span class="text-white font-weight-300">Offering</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam a. Sed nec dui laoreet risus euismod ullamcorper sit amet eu metus. Nunc eu mollis enim, ultrices vehicula ipsum. Ut vel tincidunt elit. Curabitur congue pharetra eros, a dapibus arcu ornare quis. </p>

          <div class="icon-box text-left flip sm-text-center p-0 mt-50 mb-45 mt-sm-30">
            <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
              <i class="flaticon-spa-flowers-on-human-feet text-white font-36 no-rotate"></i>
            </a>
            <div>
              <h5 class="icon-box-title mt-15 mb-10"><strong>Waxing Treatments</strong></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam a. Sed nec dui laoreet risus euismod ullamcorper sit amet eu metus. </p>
            </div>
          </div>

          <div class="icon-box text-left flip sm-text-center p-0 mb-45">
            <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
              <i class="flaticon-spa-spa-facial-treatment-with-mask-and-massages text-white no-rotate font-48"></i>
            </a>
            <div>
              <h5 class="icon-box-title mt-15 mb-10"><strong>Facial Massage</strong></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam a. Sed nec dui laoreet risus euismod ullamcorper sit amet eu metus. </p>
            </div>
          </div>

          <div class="icon-box text-left flip sm-text-center p-0 mb-45">
            <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
              <i class="flaticon-spa-massage-and-spa text-white no-rotate"></i>
            </a>
            <div>
              <h5 class="icon-box-title mt-15 mb-10"><strong>Oil Massage</strong></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam a. Sed nec dui laoreet risus euismod ullamcorper sit amet eu metus. </p>
            </div>
          </div>

          <div class="icon-box text-left flip sm-text-center p-0 mb-45">
            <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
              <i class="flaticon-spa-man-lying-on-a-deck-chair-of-a-spa text-white no-rotate font-42"></i>
            </a>
            <div>
              <h5 class="icon-box-title mt-15 mb-10"><strong>Accommodation</strong></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum diam tortor, egestas varius erat aliquam a. Sed nec dui laoreet risus euismod ullamcorper sit amet eu metus. </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
