<!-- Divider: Testimonials -->
<section class="divider parallax layer-overlay overlay-black" data-bg-img="assets/template/nutrition/bg/bg2.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="testimonial-carousel fullwidth">
          <div class="item text-center">
            <div class="thumb"><img src="assets/template/nutrition/testimonials/s1.jpg" alt="" width="90" class="img-circle"></div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque tincidunt. Aliquam erat volutpat. Integer non porta lorem.</p>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Developer</h6>
            </div>
          </div>
          <div class="item text-center">
            <div class="thumb"><img src="assets/template/nutrition/testimonials/s2.jpg" alt="" width="90" class="img-circle"></div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque tincidunt. Aliquam erat volutpat. Integer non porta lorem.</p>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Developer</h6>
            </div>
          </div>
          <div class="item text-center">
            <div class="thumb"><img src="assets/template/nutrition/testimonials/s3.jpg" alt="" width="90" class="img-circle"></div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis nec leo pellentesque tincidunt. Aliquam erat volutpat. Integer non porta lorem.</p>
              <h5 class="author text-theme-colored">Jane Doe</h5>
              <h6 class="title text-white">Developer</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
