<section id="about">
  <div class="container pb-0 pt-sm-70">
    <div class="section-title">
      <div class="row">
        <div class="col-md-8">
          <!-- <i class="flaticon-medical-27 font-72 text-white-f1"></i> -->
          <h2 class="title text-uppercase">WelCome To Spa <span class="text-white font-weight-300">Health Zone</span></h2>
          <p class="text-uppercase letter-space-4">Join our Health Zone and be healthy.</p>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row mtli-row-clearfix">
        <div class="col-md-6">
          <div class="thumb">
            <img src="assets/template/spa/about/2.png" alt="">
          </div>
        </div>
        <div class="col-md-6 sm-text-center pl-0 pt-sm-60 pt-xs-20">
          <div class="icon-box iconbox-theme-colored p-0 ml-160 ml-sm-0">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none icon-md">
              <i class="flaticon-spa-3-flowers font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">Healthy Daily Life</h5>
              <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat.</p>
            </div>
          </div>
          <div class="icon-box iconbox-theme-colored p-0 ml-120 ml-sm-0">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none">
              <i class="flaticon-spa-massage-and-spa font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">Authentic thai massage </h5>
              <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio, qui dicta alias.</p>
            </div>
          </div>
          <div class="icon-box iconbox-theme-colored p-0 ml-80 ml-sm-0">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none">
              <i class="flaticon-spa-aromatherapy-lotion-bottle-with-liquid-inside font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">Oliv's milk treatment</h5>
              <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio, qui dicta alias.</p>
            </div>
          </div>
          <div class="icon-box iconbox-theme-colored p-0 ml-40 ml-sm-0">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none">
              <i class="flaticon-spa-facial-treatment-from-a-spa font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">Special oliv gold facial</h5>
              <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio, qui dicta alias.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
