<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-parallax-ratio="0.7" data-bg-img="images/bg/bg1.jpg">
  <div class="container pt-100 pb-50">
    <!-- Section Content -->
    <div class="section-content pt-100">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title text-white">Galeria sław</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="lifestyle" data-bg-img="images/pattern/p8.png">
  <div class="container pb-0">
    <div class="bg-lighter bg-img-right-top sm-no-bg mt-sm-0" data-bg-img="images/gym/photos/2.png">
      <div class="row">
        <div class="col-md-12">

          <div class="celebrities-wrapper" data-bg-img="assets/pin-board-wide.png" style="background-repeat: no-repeat">
            <ul>
              <% @celebrities.each do |celebrity| %>
                <li>
                  <a href="#">
                    <p><b><%= celebrity.name %></b></p>
                    <p><%= celebrity.created_at.strftime('%d-%m-%Y') %></p>
                    <p><b><%= celebrity.result %> kg !</b></p>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
