<section id="case_study" class="bg-theme-colored-white">
  <div class="container">

    <h1 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
      Case study
    </h1>

    <p class="mb-30">
      Poniżej prezentujemy indywidualne przypadki pacjentów którzy podzielili się z nami swoimi osiągnięciami.
    </p>

    <div class="row services">

      <div class="col-md-4 mb-20">
        <div class="class-item bg-lighter box-hover-effect effect1 item">
          <div class="thumb mb-20">
            <%= image_tag 'home/metabolic_balance.jpg', alt: 'metabolic balance logo' %>
          </div>
          <div class="content text-center flip p-25 pt-0">
            <h4 class="text-uppercase text-theme-colored letter-space-2">
              Marek
            </h4>

            <div class="date">
              <em>
                Marek ma 34 lata, waga z jaką się do nas zgłosił to 94,3 kg, nie występowały żadne dolegliwości. Obecnie
                Marek waży 81,6 kg. Stracił 12,7 kg z masy ciała, ważne jest to aby utrata wagi była przemyślana i
                działała na korzyść organizmu, co to znaczy? Marek stracił 11,5 kg z tkanki tłuszczowej, jest to
                kluczowy element indywidualnie opracowanego planu żywieniowego, ma oddziaływać tylko na tkankę
                tłuszczową. Poziom wody wzrósł o 6 %. Wielkie gratulacje!
              </em>
            </div>
            <%#= link_to 'Szczegóły', metabolic_balance_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-20">
        <div class="class-item bg-lighter box-hover-effect effect1 item">
          <div class="thumb mb-20">
            <%= image_tag 'home/metabolic_balance.jpg', alt: 'metabolic balance logo' %>
          </div>
          <div class="content text-center flip p-25 pt-0">
            <h4 class="text-uppercase text-theme-colored letter-space-2">
              P. Paulina
            </h4>

            <div class="date">
              <em>
                Z dumą mówię o naszej 36 letniej podopiecznej, która mimo insulinooporności i całej gamy objawów
                towarzyszących straciła 11 kg. Obecnie wyniki badań Pani Pauliny wróciły do normy, insulina jest
                książkowa. Jak sama endokrynolog powiedziała: “Już mnie Pani nie potrzebuje”. Bardzo dużo pracy, wiele
                wyrzeczeń, walka z samą sobą, aby trzymać się tego co zaplanowaliśmy. Dobra robota! Świetne efekty!
                Podjęłaś wyzwanie i dałaś radę!
              </em>
            </div>
            <%#= link_to 'Szczegóły', bonne_sante_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-20">
        <div class="class-item bg-lighter box-hover-effect effect1 item">
          <div class="thumb mb-20">
            <%= image_tag 'home/bonne_sante.jpg', alt: 'bonne sante logo' %>
          </div>
          <div class="content text-center p-25 pt-0">
            <h4 class="text-uppercase text-theme-colored letter-space-2">
              P. Jolanta
            </h4>
            <div class="date">
              <em>
                Pani Jolanta ma 59 lat, pojawiła się u nas w gabinecie z już określonym celem, mianowicie do maja 2020r
                chciała schudną z wagi 87kg do 75kg. W maju ma komunie wnuczka, a do osiągnięcia pożądanej wagi zostało
                jeszcze tylko 2kg! Świetna robota! Pani Jolanta poradziła sobie z utratą wagi bardzo szybko, ponieważ
                dokładnie przestrzega ustalonych zaleceń, dodatkowo zaczęła chodzić na basen z koleżankami. Walczymy o
                2kg, które nam zostały! Gratulacje!
              </em>
            </div>
            <%#= link_to 'Szczegóły', corporations_path, class: 'btn btn-flat btn-sm border-theme-colored mt-30' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
