<%= render partial: 'title' %>

<section data-bg-img="images/pattern/p8.png">
  <div class="container pb-0">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">

          <h2>Tablica sław</h2>

          <p class="mb-30">
            Poniżej prezentujemy listę ostatnich osiągnięć naszych pacjentów. Tablica ta znajduje się także w naszym
            gabinecie i każdy nasz pacjent co miesiąc dostaje karteczkę z wynikiem jako symbol kroku w stronę "nowego
            ja". Ten element grywalizacji poprawia motywacje, zwiększa radość z rezultatów, wyznacza kamienie milowe i
            organizuje plan jako zestaw małych kroków.
          </p>

          <div class="results-wrapper" data-bg-img="assets/pin-board-wide.jpg" style="background-repeat: no-repeat">
            <ul>
              <% @results.each do |result| %>
                <li>
                  <a href="#">
                    <p><b>P. <%= result.name %></b></p>
                    <p><%= result.created_at.strftime('%d-%m-%Y') %></p>
                    <p><b><%= result.result %> kg !</b></p>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section data-bg-img="images/pattern/p8.png">
  <div class="container pb-70">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">

          <h2>Case study</h2>

          <p class="mb-30">
            Tutaj opiszemy kilka przypadków
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
