<div class="header-top bg-theme-colored">
  <div class="container p-0">
      <div class="col-xs-3">
        <%= link_to '<i class="fa fa-glass-whiskey"></i>'.html_safe, '#', class: 'icon menu active', 'data-target' => 'water' %>
      </div>
      <div class="col-xs-3">
        <%= link_to '<i class="fa fa-calendar"></i>'.html_safe, '#', class: 'icon menu', 'data-target' => 'calendar' %>
      </div>
      <div class="col-xs-3">
        <%= link_to '<i class="fa fa-clipboard"></i>'.html_safe, '#', class: 'icon menu', 'data-target' => 'notes' %>
      </div>
      <div class="col-xs-3">
        <%= link_to '<i class="fa fa-user"></i>'.html_safe, '#', class: 'icon menu', 'data-target' => 'profile' %>
      </div>
  </div>
</div>
