<div class="header-nav">
  <div class="header-nav-wrapper bg-blue">
    <div class="container">

      <nav id="myTopnav" class="topnav no-bg">
        <%= image_tag('fitmymind_niebieskie.jpg', size: '168x38', class: 'logo', style: 'margin: 18px 30px 12px 0') %>
      </nav>

    </div>
  </div>
</div>
