<div class="header-nav">
  <div class="header-nav-wrapper navbar-scrolltofixed bg-blue">
    <div class="container">

      <nav id="myTopnav" class="topnav no-bg">
        <%= link_to image_tag('fitmymind_niebieskie.jpg', size: '168x38'), '#', class: controller_name == 'home' && action_name == 'index' ? 'logo active' : 'logo' %>
      </nav>

    </div>
  </div>
</div>
