<section id="achievements" class="mobile-section">
<!--<section id="achievements" class="mobile-section" style="display: none">-->

  <h1>Osiągnięcia</h1>

  <%= hidden_field_tag :graph_data, @graph_data %>

  <canvas id="weight_graph" width="400" height="300"></canvas>

  <div class="calculators">
    <br>

    <div class="row p-5 mt-10">
      <div class="col-xs-6">
        <label>Regularne picie wody</label>
      </div>

      <div class="col-xs-6 font-weight-800" style="color: #ABD62E">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        (100%)
      </div>
    </div>

    <div class="row p-5 mt-10">
      <div class="col-xs-6">
        <label>Uczęszczanie na lekcje</label>
      </div>

      <div class="col-xs-6 font-weight-800" style="color: #ffc107">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="far fa-star"></i>
        (80%)
      </div>
    </div>

    <div class="row p-5 mt-10">
      <div class="col-xs-6">
        <label>Regularne wczesne wstawanie</label>
      </div>

      <div class="col-xs-6 font-weight-800" style="color: #ff7b07">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        (60%)
      </div>
    </div>

    <div class="row p-5 mt-10">
      <div class="col-xs-6">
        <label>Spadek masy i obwodów ciała</label>
      </div>

      <div class="col-xs-6 font-weight-800" style="color: #dc3545">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        (40%)
      </div>
    </div>


    <div class="row p-5 mt-10">
      <div class="col-xs-6">
        <label>Regularne ćwiczenia fizyczne</label>
      </div>

      <div class="col-xs-6 font-weight-800" style="color: #dc3545">
        <i class="fa fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        (20%)
      </div>
    </div>

  </div>

</section>
