<section id="water" class="mobile-section">
  <div class="container p-10">

    <h1>
      Woda
    </h1>

    <div class="col-xs-6 p-0">
      <div class="big-icon">
        <i class="fa fa-glass-whiskey"></i>
        <div class="caption">
          <i class="fa fa-plus"></i> 100 ml
        </div>
      </div>
    </div>

    <div class="col-xs-6 p-0">
      <div class="big-icon">
        <i class="fa fa-glass-whiskey"></i>
        <div class="caption">
          <i class="fa fa-plus"></i> 200 ml
        </div>
      </div>
    </div>

    <div class="col-xs-6 p-0">
      <div class="big-icon">
        <i class="fa fa-glass-whiskey"></i>
        <div class="caption">
          <i class="fa fa-plus"></i> 500 ml
        </div>
      </div>
    </div>

    <div class="col-xs-6 p-0">
      <div class="big-icon">
        <i class="fa fa-glass-whiskey"></i>
        <div class="caption">
          <i class="fa fa-plus"></i> 1000 ml
        </div>
      </div>
    </div>

  </div>
</section>
