<section id="water" class="mobile-section">

  <%= hidden_field_tag :current_amount, 0 %>
  <h1>Woda</h1>

  <div class="col-md-3 col-xs-6 p-0 pr-10 pb-20">
    <div class="water icon" data-amount="100">
      <i class="fa fa-glass-whiskey"></i>
      <div class="caption">
        <i class="fa fa-plus"></i> 100 ml
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-6 p-0 pl-10 pb-20">
    <div class="water icon" data-amount="200">
      <i class="fa fa-glass-whiskey"></i>
      <div class="caption">
        <i class="fa fa-plus"></i> 200 ml
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-6 p-0 pr-10 pb-20">
    <div class="water icon" data-amount="500">
      <i class="fa fa-glass-whiskey"></i>
      <div class="caption">
        <i class="fa fa-plus"></i> 500 ml
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-6 p-0 pl-10 pb-20">
    <div class="water icon" data-amount="1000">
      <i class="fa fa-glass-whiskey"></i>
      <div class="caption">
        <i class="fa fa-plus"></i> 1000 ml
      </div>
    </div>
  </div>

  <div class="col-xs-12 p-0 m-0 mb-10">
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 1%">
        <span>0 ml</span>
      </div>
    </div>
  </div>

  <div class="col-xs-12 p-0 m-0">
    <h2 class="text-theme-colored mt-10"><%= current_month %></h2>

  </div>

  <% (Date.today.beginning_of_month.day..Date.today.end_of_month.day).to_a.in_groups_of(7).each do |group| %>
    <div class="row m-0">
      <% group.each do |day| %>
        <% if day.present? %>
          <div class="col-callendar-xs-1">
            <div class="day icon">
              <%= day %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

</section>
