<div class="col-sm-6 col-md-3">
  <div class="widget dark">

    <%= image_tag 'fitmymind_niebieskie.jpg', class: 'mt-10 mb-20', alt: 'logo fitmymind', size: '200x45' %>

    <ul class="list mt-5">
      <li class="m-0 pl-10 pr-10">
        <i class="fa fa-phone text-theme-colored mr-5"></i>
        <a href="tel:510946225">510 946 225</a>
      </li>
      <li class="m-0 pl-10 pr-10">
        <i class="fa fa-envelope-o text-theme-colored mr-5"></i>
        <%= mail_to 'kontakt@fitmymind.pl', 'kontakt@fitmymind.pl', target: '_blank' %>
      </li>
      <li class="m-0 pl-10 pr-10">
        <i class="fa fa-globe text-theme-colored mr-5"></i>
        <%= link_to 'www.fitmymind.pl', 'http://fitmymind.pl' %>
      </li>
    </ul>

  </div>
</div>
