<div class="col-sm-6 col-md-3">
  <div class="widget dark">
    <img class="mt-10 mb-20" alt="" src="assets/template/spa/logo-wide-white.png">
    <ul class="list-inline mt-5">
      <li class="m-0 pl-10 pr-10">
        <i class="fa fa-map-marker text-theme-colored mr-5"></i>
        <%= link_to 'ul. Dobrego Pasterza 120<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;31-416 Kraków'.html_safe, 'https://goo.gl/maps/4P8xYvXoBwM3ZSXWA', class: 'text-grey', target: '_blank' %>
      </li>
      <li class="m-0 pl-10 pr-10">
        <i class="fa fa-phone text-theme-colored mr-5"></i>
        <a class="text-gray" href="tel:535662313">535 662 313</a>
      </li>
      <li class="m-0 pl-10 pr-10">
        <i class="fa fa-envelope-o text-theme-colored mr-5"></i>
        <%= mail_to 'magdalena.pieszczekbs@gmail.pl', 'kontakt@fitmymind.pl', class: 'text-grey', target: '_blank' %>
      </li>
      <li class="m-0 pl-10 pr-10">
        <i class="fa fa-globe text-theme-colored mr-5"></i>
        <%= link_to 'www.fitmymind.pl', 'http://fitmymind.pl', class: 'text-grey' %>
      </li>
    </ul>
  </div>
</div>
