<div class="container-fluid copy-right p-10 bg-black-333">
  <div class="row text-center">
    <div class="col-md-12">
      <p class="font-12 text-black-777 m-0">
        <%= mail_to 'maciej.lorens@gmail.com', "Copyright &copy;#{Time.current.year} MLSoftware. All Rights Reserved".html_safe, subject: 'Kontakt ze strony FitMyMind', target: '_blank' %>
      </p>
    </div>
  </div>
</div>