<div class="col-sm-6 col-md-3">
  <div class="widget dark">

    <h5 class="widget-title line-bottom">Blog</h5>

    <div class="latest-posts">
      <% latest_posts.each do |post| %>
        <article class="post media-post clearfix pb-0 mb-10">
          <%= link_to image_tag(post.photo.url(:thumb)), post_path(post), class: 'post-thumb' %>

          <div class="post-right">
            <h5 class="post-title mt-0 mb-5">
              <%= link_to post_title(post), post_path(post) %>
            </h5>
            <p class="post-date mb-0 font-12"><%= post.created_at.strftime('%d-%m-%Y') %></p>
          </div>
        </article>
      <% end %>
    </div>

  </div>
</div>
