<div class="col-sm-6 col-md-3">
  <div class="widget dark">

    <h5 class="widget-title line-bottom">Nowości</h5>

    <div class="latest-posts">
      <% latest_news.each do |latest_new| %>
        <article class="post media-post clearfix pb-0 mb-10">
          <%= link_to image_tag(latest_new.photo.url(:thumb)), news_path(latest_new), class: 'post-thumb' %>

          <div class="post-right">
            <h5 class="post-title mt-0 mb-5">
              <%= link_to latest_new.title, news_path(latest_new) %>
            </h5>
            <p class="post-date mb-0 font-12"><%= latest_new.created_at.strftime('%d-%m-%Y') %></p>
          </div>
        </article>
      <% end %>
    </div>

  </div>
</div>
