<div class="col-md-5">
  <h4 class="text-white">Zapisz się na Newsletter</h4>
  <form id="mailchimp-subscription-form-footer" class="newsletter-form mt-20">
    <div class="input-group">
      <input type="email" value="" name="EMAIL" placeholder="Twój Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" style="height: 45px;">
      <span class="input-group-btn">
                  <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0 font-14" type="submit">Zapisz się</button>
                </span>
    </div>
  </form>
  <!-- Mailchimp Subscription Form Validation-->
  <script type="text/javascript">
    $('#mailchimp-subscription-form-footer').ajaxChimp({
      callback: mailChimpCallBack,
      url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
    });

    function mailChimpCallBack(resp) {
      // Hide any previous response text
      var $mailchimpform = $('#mailchimp-subscription-form-footer'),
        $response = '';
      $mailchimpform.children(".alert").remove();
      console.log(resp);
      if (resp.result === 'success') {
        $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
      } else if (resp.result === 'error') {
        $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
      }
      $mailchimpform.prepend($response);
    }
  </script>
</div>
