<div class="col-md-9">
  <form id="mailchimp-subscription-form-footer" class="newsletter-form mt-20">
    <div class="input-group">
      <p class="font-12">
        UWAGA! Strona używa plików cookie. Pozostając na stronie godzisz się na ich zapisywanie w Twojej przeglądarce
        . <%= link_to 'Dowiedz się więcej', private_policy_path, class: 'text-theme-colored' %>
      </p>
    </div>
  </form>
</div>
