<div class="col-sm-6 col-md-3">
  <div class="widget dark">
    <h5 class="widget-title line-bottom">Godziny Otwarcia</h5>
    <div class="opening-hourse">
      <ul class="list-border">
        <li class="clearfix"><span>Poniedziałek:</span>
          <div class="value pull-right">8.00 - 16.00</div>
        </li>
        <li class="clearfix"><span>Wtorek:</span>
          <div class="value pull-right">12.00 - 20.00</div>
        </li>
        <li class="clearfix"><span>Środa:</span>
          <div class="value pull-right">12.00 - 20.00</div>
        </li>
        <li class="clearfix"><span>Czwartek:</span>
          <div class="value pull-right">10.00 - 18.00</div>
        </li>
        <li class="clearfix"><span>Piątek:</span>
          <div class="value pull-right">8.00 - 16.00</div>
        </li>
      </ul>
    </div>
  </div>
</div>