<div class="col-md-3">
  <div class="pull-right">
    <ul class="social-icons icon-bordered small square list-inline mt-10">

      <li>
        <a href="https://www.facebook.com/Aleksandra-Kucharczyk-Dietetyk-2839618429385669" target="_blank">
          <i class="fa fa-facebook text-white"></i>
        </a>
      </li>

      <li>
        <a href="#" target="_blank">
          <i class="fa fa-instagram text-white"></i>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/aleksandra-kucharczyk-646a66116/" target="_blank">
          <i class="fa fa-linkedin text-white"></i>
        </a>
      </li>

      <li>
        <a href="https://www.znanylekarz.pl/aleksandra-kucharczyk-3/dietetyk/krakow" target="_blank">
          <i class="fa fa-stethoscope text-white"></i>
        </a>
      </li>

    </ul>
  </div>
</div>
