<div class="col-sm-6 col-md-3">
  <div class="widget dark">
    <h5 class="widget-title line-bottom">Tagi</h5>
    <div class="tags">
      <a href="#">Dieta</a>
      <a href="#">Dietetyk</a>
      <a href="#">Kliniczny</a>
      <a href="#">Odchudzanie</a>
      <a href="#">Plan żywieniowy</a>
      <a href="#">Coach</a>
      <a href="#">Zdrowie</a>
      <a href="#">Tryb życia</a>
      <a href="#">Przemiana</a>
      <a href="#">Metamorfoza</a>
      <a href="#">Utrata wagi</a>
      <a href="#">Hashimoto</a>
      <a href="#">Tarczyca</a>
      <a href="#">PCOS</a>
      <a href="#">Otyłość</a>
      <a href="#">Nadciśnienie</a>
      <a href="#">Depresja</a>
    </div>
  </div>
</div>
