<div class="pull-left">
  <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/aleksandra-kucharczyk-3/dietetyk/krakow" rel="nofollow" data-zlw-doctor="aleksandra-kucharczyk-3" data-zlw-type="button_calendar_floating_medium" data-zlw-opinion="false" data-zlw-hide-branding="true">Aleksandra
    Kucharczyk - ZnanyLekarz.pl</a>
  <script>!function ($_x, _s, id) {
    var js, fjs = $_x.getElementsByTagName(_s)[0];
    if (!$_x.getElementById(id)) {
      js = $_x.createElement(_s);
      js.id = id;
      js.src = "//platform.docplanner.com/js/widget.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, "script", "zl-widget-s");</script>
</div>
