<section id="trainer" data-bg-img="assets/template/spa/pattern/p17.png">
  <div class="container pb-70">
    <div class="section-title">
      <div class="row">

        <h2>Aleksandra Kucharczyk</h2>

        <p>
          Nazywam się Aleksandra Kucharczyk i jestem absolwentką Dietetyki Krakowskiej Wyższej Szkoły Promocji
          Zdrowia. Dietetyka jest bardzo dynamiczną dziedziną nauki, dlatego nie przestaję podnosić swoich
          kwalifikacji, uczestnicząc w konferencjach, szkoleniach oraz pozostając na bieżąco z najnowszą literaturą
          naukową.
        </p>

        <p>
          Od 2012 roku sukcesywnie łączę teorię z praktyką odchudzając liczne grono zadowolonych osób. Moi
          podopieczni przechodzą przemiany, prowadzące do wymarzonej sylwetki i poprawy jakości życia. W swojej
          codziennej pracy stawiam na indywidualność i wolność wyboru. Plan żywieniowy zawsze opracowany jest tak,
          aby dieta była przyjemna w stosowaniu, smaczna i nie osłabiała organizmu. Dzięki temu pacjenci uczą się
          stopniowo wprowadzać zdrowe nawyki w swoje życie, czują się lepiej i mają więcej energii. Nigdy nie
          zalecam pacjentom tego, na co sama bym się nie zdecydowała, byłam dietetykiem również dla siebie gubiąc
          zbędne 30 kilogramów, obecnie stosuje zdrowe podejście do życia dając przykład innym.
        </p>

        <p>
          Dietetyka to przede wszystkim praca z drugim człowiekiem i za to cenię ją najbardziej. Sukcesy moich
          podopiecznych dają mi ogromną satysfakcję i motywują do ciągłego rozwoju zawodowego. Dobry dietetyk
          powinien posiadać wszechstronną wiedzę z zakresu żywienia, aktywności fizycznej oraz psychologii, dlatego
          też posiadam liczne certyfikaty potwierdzające moje kompetencje.
        </p>

        <p>
          Odchudzając siebie nauczyłam się dyscypliny, wytrwałości a przede wszystkim poznałam swój organizm i wiem
          z jakimi trudnościami borykają się osoby otyłe. Potrafię zadbać o siebie i o swoich podopiecznych. Jestem
          przekonana, że mogę przyczynić się również do Twojego sukcesu.
        </p>

      </div>
    </div>
  </div>
</section>
