<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
          Przedstawiamy naszych ekspertów
        </h2>

        <p class="text-justify">
          Stawiamy na profesjonalistów z wieloletnim stażem. Nasi dietetycy nie zdobyli doświadczenie na
          weekendowym seminarium online ale przez studia specjalistyczne, dziesiątki kursów i co najważniejsze
          wieloletnią praktykę zawodową. Codziennie wymieniają się wiedzą techniczną, realizują swoje cele tak samo
          jak nasi pacjenci, a w przerwie na kawe czytają artukuły naukowe z najbardziej aktualnych i cenionych
          źródeł. To nie przypadek że nasi pracownicy zostali dietetykami, to pasjonaci, dla których nie ma lepszej
          pracy niż poprawianie jakości życia innym ludziom.
        </p>

      </div>
    </div>
  </div>
</section>
