<section id="trainer" data-bg-img="assets/template/spa/pattern/p17.png">
  <div class="container pb-0">
    <div class="section-title">
      <div class="row">

        <div class="col-sm-8 text-justify">
          <h2>Magdalena Pieszczek</h2>

          <p class="text-justify">
            Nazywam się Magdalena Pieszczek jestem dyplomowanym psychodietetykiem. W swojej pracy
            stawiam przede wszystkim na relacje z pacjentem. Uważam, że połączenie tych dwóch dziedzin
            wiedzy dietetyki i psychiki człowieka daję jedyną możliwość, aby w jak najszybszym czasie osiągnąć
            wymarzony cel.
          </p class="text-justify">

          <p class="text-justify">
            Psychodietetka jest dziedziną zakładającą, że człowiek jest całością, a nie tylko
            ciałem, które można odchudzić poprzez zmniejszenie kaloryczności posiłków. Staram się, aby pacjenci
            poznali mechanizmy, dzięki którym odchudzanie przestanie być rzeczą niemożliwą. Specjalizuje się w
            układaniu diet wegetariańskich, wegańskich oraz dla kobiet w ciąży. Nieustannie pogłębiam swoją
            wiedzę, będąc na bieżąco z najnowszymi informacjami, wynikami badań oraz doświadczeniami
            specjalistów.
          </p>

          <p class="text-justify">
            Uwielbiam podróżować, poznawać nowe miejsca, ludzi i kulturę. Dzięki podróżą
            poznaje kuchnie świata, które inspirują mnie później w tworzeniu planów żywieniowych.
          </p>
        </div>

        <div class="col-sm-4 mt-20 ">
          <div class="trainer-item">
            <div class="trainer-thumb">
              <%= image_tag 'home/magdalena_pieszczek_specjalista.jpg', alt: 'magdalena pieszczek specjalista' %>
            </div>
            <div class="trainer-info">
              <div class="trainer-biography">
                <h3 class="text-white">Magdalena Pieszczek</h3>
                <h5 class="text-white">Psychodietetyk</h5>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
