<section>
  <div class="container pb-0">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-uppercase letter-space-4 mb-20 text-theme-colored">
            Nasi eksperci
          </h1>

          <p class="text-justify">
            Stawiamy na profesjonalistów z wieloletnim stażem. Nasi dietetycy nie zdobyli doświadczenie na
            weekendowym seminarium online ale przez studia specjalistyczne, dziesiątki kursów i co najważniejsze
            wieloletnią praktykę zawodową. Codziennie wymieniają się wiedzą techniczną, realizują swoje cele tak samo
            jak nasi pacjenci, a w przerwie na kawe czytają artukuły naukowe z najbardziej aktualnych i cenionych
            źródeł. To nie przypadek że nasi pracownicy zostali dietetykami, to pasjonaci, dla których nie ma lepszej
            pracy niż poprawianie jakości życia innym ludziom.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
