<section id="classes" class="bg-theme-colored-white">
  <div class="container pt-0">
    <div class="row mtli-row-clearfix">
      <div class="col-md-5">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <%= image_tag 'zespol/aleksandra_kucharczyk_specjalista.jpg', alt: 'aleksandra kucharczyk specjalista' %>
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored letter-space-2">
                Aleksandra Kucharczyk
              </h4>
              <h5 class="text-uppercase text-theme-colored letter-space-2">
                Dietetyk Kliniczny
              </h5>

              <div class="date">
                <em>
                  Nazywam się Aleksandra Kucharczyk i jestem absolwentką Dietetyki Krakowskiej Wyższej Szkoły Promocji
                  Zdrowia. Dietetyka jest bardzo dynamiczną dziedziną nauki, dlatego nie przestaję podnosić swoich
                  kwalifikacji, uczestnicząc w konferencjach, szkoleniach oraz pozostając na bieżąco z najnowszą literaturą
                  naukową.
                </em>
              </div>
              <%= link_to 'Szczegóły', '#', class: 'btn btn-flat btn-sm border-theme-colored mt-30 ola-details bg-theme-colored-white' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-md-offset-2">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <%= image_tag 'zespol/magdalena_pieszczek_specjalista.jpg', alt: 'magdalena pieszczek specjalista' %>
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored letter-space-2">
                Magdalena Pieszczek
              </h4>
              <h5 class="text-uppercase text-theme-colored letter-space-2">
                Psychodietetyk
              </h5>

              <div class="date">
                <em>
                  Nazywam się Magdalena Pieszczek jestem dyplomowanym psychodietetykiem. W swojej pracy
                  stawiam przede wszystkim na relacje z pacjentem. Uważam, że połączenie tych dwóch dziedzin
                  wiedzy dietetyki i psychiki człowieka daję jedyną możliwość, aby w jak najszybszym czasie osiągnąć
                  wymarzony cel.
                </em>
              </div>
              <%= link_to 'Szczegóły', '#', class: 'btn btn-flat btn-sm border-theme-colored mt-30 magda-details bg-theme-colored-white' %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
