<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-parallax-ratio="0.7" data-bg-img="assets/zespol/dzialamy_razem.jpg" title="twoja_droga_do_sukcesu">
  <div class="container pt-100 pb-50">
    <div class="section-content pt-100">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-white">dołącz do nas i wspólnie osiągnijmy cele</h1>
        </div>
      </div>
    </div>
  </div>
</section>
