<div class="sidebar sidebar-right mt-sm-30">

<!--  <div class="widget">-->
<!--    <h5 class="widget-title line-bottom">Wyszukaj w treści</h5>-->
<!--    <div class="search-form">-->
<!--      <div class="input-group">-->
<!--        <input type="text" placeholder="np. hashimoto" class="form-control search-input">-->

<!--        <span class="input-group-btn">-->
<!--          <button type="submit" class="btn search-button">-->
<!--            <i class="fa fa-search"></i>-->
<!--          </button>-->
<!--        </span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="widget">

    <h5 class="widget-title line-bottom">Kategorie</h5>

    <div class="categories">
      <ul class="list-border tags">
        <% @categories.each do |category| %>
          <li>
            <%= category_to(category) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="widget">
    <h5 class="widget-title line-bottom">Tagi</h5>
    <div class="tags">
      <% @tags.each do |tag| %>
        <%= tag_to(tag) %>
      <% end %>
    </div>
  </div>

</div>
