<%= render partial: 'title' %>

<section>
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-3">
        <%= render partial: 'sidebar' %>
      </div>

      <div class="col-md-9">
        <div class="blog-posts">
          <div class="col-md-12">
            <div class="row list-dashed">
              <% @posts.each do |post| %>
              <%= render partial: 'posts/post', locals: {post: post} %>
              <% end %>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
