<section class="bg-theme-colored">
  <div class="container pt-20 pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col-md-9 pt-60">
          <h3 class="m-0 text-uppercase text-white letter-space-3 font-weidth-400">
            Zacznij terapię dzisiaj, zobacz efekty po 7 dniach
          </h3>
          <h4 class="m-0 text-uppercase text-white letter-space-3 font-weidth-400 pt-20">
            85% pacjentów traci 2 kg po tygodniu
          </h4>
          <h4 class="m-0 text-uppercase text-white letter-space-3 font-weidth-400">
            75% pacjentów traci 7 kg po miesiącu
          </h4>
        </div>
        <div class="col-md-3 text-right flip">
          <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/aleksandra-kucharczyk-3/dietetyk/krakow" rel="nofollow" data-zlw-doctor="aleksandra-kucharczyk-3" data-zlw-type="certificate" data-zlw-opinion="false" data-zlw-hide-branding="true">Aleksandra Kucharczyk - ZnanyLekarz.pl</a><script>!function($_x,_s,id){var js,fjs=$_x.getElementsByTagName(_s)[0];if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//platform.docplanner.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");</script>
        </div>
      </div>
    </div>
  </div>
</section>