<section class="divider" data-bg-img="assets/home/fakty.png">
  <div class="container-fluid pt-0 pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col-md-5 pt-100 pb-100"></div>
        <div class="col-md-7 bg-lighter">
          <div class="pt-40 pr-50 pb-70 pl-60 p-md-30">
            <h3 class="title letter-space-4">FitMyMind
              <span class="text-uppercase text-black-333 font-weight-300">fakty</span></h3>
            <p class="mb-40">
              Codziennie mamy nowych pacjentów, codziennie pacjenci kończą kuracje, otrzymują pamiątkowe dyplomy i
              wychodzą z gabinetu jako nowe osoby. Pamiętajmy że za każdym utraconym kilogramem kryje się
              poświęcenie, walka z samym sobą i wytrwałość owocujące wielkim szczęściem naszych podopiecznych. Nie
              jesteśmy w stanie oddać satysfakcji jaką daje nam praca z ludźmi, za to możemy pokazać kilka danych
              statystycznych.
            </p>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center">
                <div class="funfact ml-md-0">
                  <a href="#"><i class="pe-7s-date"></i></a>
                  <h3 class="animate-number font-28 font-weight-500 mt-15 mb-10" data-value="8" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Lat profesjonalnego doświadczenia i działania na rynku dietetycznym.
                  </h5>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center ml-50 ml-md-0">
                <div class="funfact ml-md-0">
                  <a href="#"><i class="pe-7s-portfolio"></i></a>
                  <h3 class="animate-number font-28 font-weight-500 mt-15 mb-10" data-value="2" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Lata działania na rynku korporacji.
                  </h5>
                </div>
              </div>
            </div>

            <div class="row mt-30">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center">
                <div class="funfact">
                  <a href="#"><i class="pe-7s-graph2"></i></a>
                  <h3 class="animate-number font-28 font-weight-500 mt-15 mb-10" data-value="12" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Firm które korzysta z naszych usług regularnie.
                  </h5>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center ml-50 ml-md-0">
                <div class="funfact">
                  <a href="#"><i class="pe-7s-smile"></i></a>
                  <h3 class="animate-number font-28 font-weight-500 mt-15 mb-10" data-value="620" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Zadowolonych pacjentów, którzy już nie potrzebują dietetyka.
                  </h5>
                </div>
              </div>

            </div>

            <div class="row mt-30">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center">
                <div class="funfact">
                  <a href="#"><i class="pe-7s-gym"></i></a>
                  <h3 class="animate-number font-28 font-weight-500 mt-15 mb-10" data-value="7850" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Spalonych kilogramów, które nie wracają.
                  </h5>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 hvr-wobble-vertical sm-text-center ml-50 ml-md-0">
                <div class="funfact">
                  <a href="#"><i class="pe-7s-note2"></i></a>
                  <h3 class="animate-number font-28 font-weight-500 mt-15 mb-10" data-value="20" data-animation-duration="2500">0</h3>
                  <h5 class="title text-gray font-weight-300 font-16">
                    Certyfikatów i rekomendacji.
                  </h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
