<section class="bg-theme-colored">
  <div class="container pt-0 pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col-md-9 pt-40">
          <h3 class="m-0 text-uppercase text-white letter-space-3 font-weidth-400">
            Zacznij terapię dzisiaj, zobacz efekty po 7 dniach
          </h3>
          <h4 class="m-0 text-white letter-space-3 font-weidth-400 pt-20">
            90% pacjentów traci minimum 1.5 kg po tygodniu
          </h4>
          <h4 class="m-0 text-white letter-space-3 font-weidth-400">
            80% pacjentów traci 8 kg po miesiącu
          </h4>
          <h4 class="m-0 text-white letter-space-3 font-weidth-400">
            70% pacjentów realizuje cel w 2 miesiące
          </h4>

          <%= link_to 'Umów się na wizytę', 'https://www.znanylekarz.pl/aleksandra-kucharczyk-3', class: 'btn
          btn-colored get-appointment font-18 mt-20 mr-20 font-weight-600', target: '_blank' %>

          <%= link_to 'Odwiedź Facebooka', 'https://www.facebook.com/Aleksandra-Kucharczyk-Dietetyk-2839618429385669/',
                      class: 'btn
          btn-colored get-appointment font-18 mt-20 mr-20 font-weight-600', target: '_blank' %>

          <%= link_to 'Zadzwoń', 'tel:510946225', class: 'btn btn-colored get-appointment font-18 mt-20 mr-20 font-weight-600' %>

          <div class="fb-send-to-messenger"
               messenger_app_id="472741563595207"
               page_id="2839618429385669"
               data-ref="<PASS_THROUGH_PARAM>"
               color="white"
               size="standard">
          </div>


        </div>
        <div class="col-md-3 text-center flip mt-20">
          <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/aleksandra-kucharczyk-3/dietetyk/krakow" rel="nofollow" data-zlw-doctor="aleksandra-kucharczyk-3" data-zlw-type="certificate" data-zlw-opinion="false" data-zlw-hide-branding="true">Aleksandra
            Kucharczyk - ZnanyLekarz.pl</a>
        </div>
      </div>
    </div>
  </div>
</section>
