<section id="classes" data-bg-img="assets/template/spa/pattern/p17.png">
  <div class="container pb-sm-50 pb-50">
    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="title text-uppercase">Współpracujemy z wieloma
            <span class="text-white font-weight-300"> firmami</span></h2>
          <p class="text-uppercase letter-space-4">Odpowiadamy na wszystkie potrzeby żywieniowe naszych pacjentów
            poprzez dobór odpowiedniej usługi i planu do potrzeb pacjenta</p>
        </div>
      </div>
    </div>

    <div class="row mtli-row-clearfix">
      <div class="col-md-4 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <img alt="featured project" src="assets/home/metabolic_balance.png" class="img-responsive img-fullwidth">
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored font-weight-800 letter-space-2">
                Metabolic Balance
              </h4>
              <div class="date">
                <em>
                  Specjalistyczny plan żywieniowy trwający 6 miesięcy, powstający w oparciu o badania krwi i badania
                  hormonalne.
                </em>
              </div>
              <a class="btn btn-flat btn-sm border-theme-colored mt-30" href="#">Szczegóły</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <img alt="featured project" src="assets/home/bonne_sante.png" class="img-responsive img-fullwidth">
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored font-weight-800 letter-space-2">Bonne-Sante</h4>
              <div class="date">
                <em>
                  Indywidualne plany miesięczne z cotygodniowymi konsultacjami, pomiarami i zastrzykami
                  motywacyjnymi.
                </em>
              </div>
              <a class="btn btn-flat btn-sm border-theme-colored mt-30" href="#">Szczegóły</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <img alt="featured project" src="assets/home/metamorfoza.png" class="img-responsive img-fullwidth">
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored font-weight-800 letter-space-2">Metamorfoza</h4>
              <div class="date">
                <em>
                  4 specjalistów: dietetyk, fizjoterapeuta, trener personalny, prowokatywny coach aby zmienić cię w
                  nową, lepszą wersję siebie.
                </em>
              </div>
              <a class="btn btn-flat btn-sm border-theme-colored mt-30" href="#">Szczegóły</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <img alt="featured project" src="assets/home/ars_medica.png" class="img-responsive img-fullwidth">
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored font-weight-800 letter-space-2">Ars Medica</h4>
              <div class="date">
                <em>
                  Pojedyncze wizyty w przychodni. Dawka wiedzy, sporządzenie indywidualnego planu dietetycznego, pomiary
                  parametrów ciała.
                </em>
              </div>
              <a class="btn btn-flat btn-sm border-theme-colored mt-30" href="#">Szczegóły</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <img alt="featured project" src="assets/home/korporacje.png" class="img-responsive img-fullwidth">
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored font-weight-800 letter-space-2">
                Firmy / Korporacje
              </h4>
              <div class="date">
                <em>
                  Benefit dla pracowników firm. Wzrost produktywności, zwiększenie motywacji oraz zadbanie o zdrowie pracowników.
                </em>
              </div>
              <a class="btn btn-flat btn-sm border-theme-colored mt-30" href="#">Szczegóły</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-30">
        <div class="item">
          <div class="class-item box-hover-effect effect1 mb-md-30 bg-lighter">
            <div class="thumb mb-20">
              <img alt="featured project" src="assets/home/prelekcje.png" class="img-responsive img-fullwidth">
            </div>
            <div class="content text-center flip p-25 pt-0">
              <h4 class="text-uppercase text-theme-colored font-weight-800 letter-space-2">Prelekcje</h4>
              <div class="date"><em>Pojedyncze wykłady nt zdrowego odżywiania, demonstracje, rola zbilansowanej diety, ciekawostki, pomiary uczestników.</em></div>
              <a class="btn btn-flat btn-sm border-theme-colored mt-30" href="#">Szczegóły</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
