<section id="about">
  <div class="container pb-0 pt-sm-70">
    <div class="section-title">
      <div class="row">
        <div class="col-md-8">
          <!-- <i class="flaticon-medical-27 font-72 text-white-f1"></i> -->
          <h2 class="title text-uppercase">Witaj w gabinecie
            <span class="text-white font-weight-300">Health Hatch</span></h2>
          <p class="text-uppercase letter-space-4">Dołącz do naszej strefy zdrowia</p>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row mtli-row-clearfix">

        <div class="col-md-6">
          <div class="thumb">
            <img src="assets/home/aleksandra_kucharczyk2.png" alt="">
          </div>
        </div>

        <div class="col-md-6 sm-text-center pl-0 pt-sm-60 pt-xs-20">
          <div class="icon-box iconbox-theme-colored p-0 ml-160 ml-sm-0">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none icon-md">
              <i class="flaticon-spa-3-flowers font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">Odżywiaj swój organizm</h5>
              <p class="text-gray">
                Jedzenie stało się przerwą od pracy, przyemnością i remedium na stres. Niestety
                zapomnieliśmy o najwazniejszej funkcji jedzenia - odżywianiu organizmu. Naprawiamy złe
                nawyki żywieniowe i ładujemy twoje baterie abyś wrócił do 100% sprawności.
              </p>
            </div>
          </div>

          <div class="icon-box iconbox-theme-colored p-0 ml-120 ml-sm-0">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none">
              <i class="flaticon-spa-massage-and-spa font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">Pozbądź się kilogramów</h5>
              <p class="text-gray">
                Ciężko zawiązać buta? Zdjęcia z wakacji nie wyglądają jak powinny? Wizja wejścia na 4 piętro zniechęca? Nie jesteśmy cudotwórcami, ale 90% pacjentów jest zachwyconych rezultatami i nas poleca.
              </p>
            </div>
          </div>

          <div class="icon-box iconbox-theme-colored p-0 ml-80 ml-sm-0">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none">
              <i class="flaticon-spa-aromatherapy-lotion-bottle-with-liquid-inside font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">Psychodietetyka</h5>
              <p class="text-gray">
                Często problemy z nadwagą nie biorą się z czystego lenistwa. Nieżadko są to choroby, stress, depresja, wypalenie zawodowe. Jesteśmy mistrzami słuchania potrzeb pacjentów, budowania motywacji i pewności siebie. Stosujemy grywalizacje i mocno wspieramy podczas kuracji.
              </p>
            </div>
          </div>

          <div class="icon-box iconbox-theme-colored p-0 ml-40 ml-sm-0">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none">
              <i class="flaticon-spa-facial-treatment-from-a-spa font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">
                Dietetyka kliniczna
              </h5>
              <p class="text-gray">
                Masz problemy z chorobami jak Hashimoto, PCOS, cukrzyca, anemia, anorekcja? Nie martw się, pomogliśmy dziesiątkom ludzi w podobnej sytuacji. Posiadamy bardzo wykwalifikowany zespół który składa się z pasjonatów ze specjalistycznym wykształceniem. Możesz nam zaufać.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
