<section id="about" class="bg-theme-colored-white">
  <div class="container pb-0 pt-sm-70">


    <div class="section-content">
      <div class="row mtli-row-clearfix">

        <div class="col-md-6">
          <div class="section-title">
            <h2 class="title">WITAJ W GABINECIE
              <%= image_tag 'fitmymind_szare.jpg', size: '200x41', class: 'mb-5' %>
            </h2>
            <p class="text-uppercase letter-space-4">Wszystko zaczyna się w głowie</p>
          </div>

          <div class="thumb" style="margin-top: 82px;">
            <%= image_tag 'home/aleksandra_kucharczyk.jpg', alt: 'aleksandra kucharczyk profilowe' %>
          </div>
        </div>

        <div class="col-md-6 sm-text-center pl-0">
          <div class="icon-box iconbox-theme-colored p-0 ml-120 ml-sm-0 text-justify">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none">
              <i class="flaticon-spa-facial-treatment-from-a-spa font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">
                Dietetyka kliniczna
              </h5>
              <p class="text-gray">
                Masz problemy z chorobami jak Hashimoto, PCOS, insulinooporność, cukrzyca, reumatoidalne zapalenie
                stawów, łuszczyca, zespół jelita drażliwego? Nie martw się, pomogliśmy dziesiątkom ludzi w podobnej
                sytuacji.
                <br>
                <a href="#" class="read-more text-green font-weight-600">Czytaj więcej . . .</a>
                <span class="read-more-content hidden">
                  Posiadamy bardzo wykwalifikowany zespół, który składa się z&nbsp;najważniejszej
                funkcji jedzenia - odżywianiu organizmu. Jesteśmy w&nbsp;stanie zarządzać naszym ciałem zapasjonatów
                ze specjalistycznym wykształceniem. Możesz nam zaufać.
                </span>
              </p>
            </div>
          </div>

          <div class="icon-box iconbox-theme-colored p-0 ml-90 ml-sm-0 text-justify">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none">
              <i class="flaticon-spa-aromatherapy-lotion-bottle-with-liquid-inside font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">Psychodietetyka</h5>
              <p class="text-gray">
                Często problemy z nadwagą nie biorą się z lenistwa. Jesteśmy coraz bardziej zrozpaczeni ciągłymi
                niepowodzeniami, gdy kolejna dieta nie działa pomimo wielu wyrzeczeń. Problemem często nie jest sam plan
                żywieniowy, lecz czynniki psychologiczne.
                <br>
                <a href="#" class="read-more text-green font-weight-600">Czytaj więcej . . .</a>
                <span class="read-more-content hidden">
                  Stres, wypalenie zawodowe i brak motywacji działają
                destrukcyjnie, dlatego mocno wspieramy podczas kuracji. Jesteśmy mistrzami słuchania potrzeb pacjentów,
                budowania motywacji i pewności siebie, uczymy dobrych relacji z żywnością.
                </span>
              </p>
            </div>
          </div>

          <div class="icon-box iconbox-theme-colored p-0 ml-60 ml-sm-0 text-justify">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none icon-md">
              <i class="flaticon-spa-3-flowers font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">Odżywiaj swój organizm</h5>
              <p class="text-gray">
                Jedzenie stało się przerwą od pracy, przyjemnością i&nbsp;remedium na stres. Niestety zapomnieliśmy
                o&nbsp;najważniejszej funkcji jedzenia - odżywianiu organizmu.
                <br>
                <a href="#" class="read-more text-green font-weight-600">Czytaj więcej . . .</a>
                <span class="read-more-content hidden">
                  Jesteśmy w stanie zarządzać naszym ciałem za pomocą odpowiednio dobranego żywienia. Tworzymy dobre
                nawyki żywieniowe i ładujemy Twoje baterie abyś wrócił do 100% sprawności.
                </span>
              </p>
            </div>
          </div>

          <div class="icon-box iconbox-theme-colored p-0 ml-30 ml-sm-0 text-justify">
            <a href="#" class="icon icon-bordered icon-circled mb-0 mr-0 pull-left flip sm-pull-none">
              <i class="flaticon-spa-massage-and-spa font-34"></i>
            </a>
            <div class="ml-100 ml-sm-0">
              <h5 class="icon-box-title mt-15 mb-0 text-uppercase letter-space-3">Pozbądź się kilogramów</h5>
              <p class="text-gray">
                Od 2002 roku Światowa Organizacja Zdrowia umieściła otyłość na liście największych zagrożeń ludzkości.
                Nie mamy wyjścia musimy otwarcie przyznać, że nadmiar kilogramów to nie są tylko względy związane z
                atrakcyjnością.
                <br>
                <a href="#" class="read-more text-green font-weight-600">Czytaj więcej . . .</a>
                <span class="read-more-content hidden">
                  Nadmierna masa ciała może utrudniać wejście na czwarte piętro, obniżać Twoją
                produktywność w ciągu dnia i wpływać na Twój osąd o&nbsp;sobie samym, a przede wszystkim prowadzi do
                przewlekłego stanu zapalnego organizmu więc niszczy zdrowie. U nas estetyczne względy i utrata
                kilogramów są konsekwencją podjętych działań ku zdrowiu.
                </span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
