.calculators-wrapper {
  .form-control {
    color: black !important;
  }
}

#calculators {
  .item {
    box-shadow: 3px 3px 3px #9f9f9f;
    border-top: 2px solid #E8E8E8;
    border-left: 2px solid #E8E8E8;
  }
}

.menu-tag {
  border: 2px solid #ABD62E;
  color: #ABD62E;
  display: inline-block;
  float: left;
  padding: 5px 10px;
  margin: 5px;
  min-width: 120px;
  text-align: center;
  font-weight: 800;

  &.active, &:hover {
    background-color: #ABD62E;
    color: white;
  }
}
