.testimonial-carousel {
  p {
    background-color: #292B33;
    padding: 10px 15px;
    border-radius: 10px;
  }

  h4 {
    background-color: #292B33;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    margin: auto;
  }
}