/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "template/theme-skin-green";
@import "template/bootstrap.min";
@import "template/css-plugin-collections";
@import "template/style-main";
@import "template/custom-bootstrap-margin-padding";
@import "template/responsive";
@import "template/settings";
@import "template/navigation";
@import "home";


$base-color: #ABD62E;
$dark-base-color: #799720;

$success: $base-color;
$info: #ffc107;
$warning: #ff7b07;
$danger: #dc3545;
$inactive: #d0d0d0;

.mobile-section {
  text-align: center;

  h1 {
    color: $base-color;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

.header-top {
  text-align: center;
}

a.menu {
  font-size: 28px;
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
  width: 80px;
  height: 80px;

  &.active {
    background-color: $dark-base-color;
  }
}

h1 {
  margin-top: 0;
}

.icon {
  border-radius: 10px;
  text-align: center;
  font-size: 32px;
  color: white;

  .caption {
    font-size: 22px;
    font-weight: 800;
  }
}


.water {
  height: 100px;
  background-color: $base-color;
}

.calendar {
  height: 60px;
  margin: 5px;

  &.icon {
    .caption {
      padding: 10px;
    }
  }
}

.day {
  background-color: $inactive;
  font-size: 12px;
  margin: 5px;
  height: 40px;
  width: 40px;
  font-weight: 800;
  padding: 10px;
  border-radius: 20px;

  &.inactive {
    background-color: $inactive;
  }

  &.danger {
    background-color: $danger;
  }

  &.warning {
    background-color: $warning;
  }

  &.info {
    background-color: $info;
  }

  &.success {
    background-color: $success;
  }
}

.col-callendar-xs-1 {
  width: 14.28%;
  float: left;
}

.free {
  background-color: $base-color;
}

.taken {
  background-color: #FF0000;
}

.own {
  background-color: #0066ff;
}

.bg-success {
  background-color: $base-color !important;
}

.bg-info {
  background-color: #ffc107!important;
}

.bg-warning {
  background-color: #ff7b07 !important;
}

.bg-danger {
  background-color: #dc3545!important;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  overflow: hidden;
  font-weight: 800;
  background-color: $inactive;
  border-radius: 10px;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #007bff;
  transition: width .6s ease;
}

#profile {
  .form-control {
    height: 40px;
    border-radius: 10px;
    padding: 6px 10px;
  }

  label {
    margin-top: 6px;
  }

  .calculators label {
    margin-top: 8px;
  }

  .btn.update-profile {
    width: 100%;
    height: 40px;
    border-radius: 10px;
  }
}

.calculators {
  font-size: 14px;
}

.progress span {
  position: absolute;
  width: 100%;
}
