.post-category {
  border: 1px solid #333333;
  display: inline-block;
  font-size: 11px;
  margin: 5px 4px 5px 0;
  padding: 5px 10px;
}

.post-tag {
  border: 1px solid #333333;
  display: inline-block;
  font-size: 11px;
  margin: 5px 4px 5px 0;
  padding: 5px 10px;
}

.tags {
  .selected {
    color: white;
    background: #ABD62E;
    border: 1px solid #333333;
  }
}

.categories {
  .selected {
    color: #ABD62E;
  }
}

.blog-posts {
  .entry-content {
    p {
      font-size: 16px;
      text-align: justify;

      a {
        color: #ABD62E !important
      }
    }
  }
}

.single-post {
  .post-content {
    ul {
      list-style: disc;
      padding: 0 0 0 40px;
      font-size: 16px;
    }
  }

  .post-bibliography {
    p {
      font-size: 12px;
    }
  }
}
