#service-metabolic-balance {
  p {
    font-size: 18px;
  }
}

.mb-tags, .mb-menu-tags {

  &.active {
    color: #ABD62E;
  }

  &:hover {
    color: #ABD62E;
  }
}

.mb-menu-tags {
  margin-right: 26px;
}
