<div class="metabolic-balance-part mb-how" style="display: none;">
  <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
    Jak rozpocząć
  </h3>

  <p class="text-justify mb-40">
    Na pierwszą wizytę umawiamy się telefonicznie.
  </p>

  <h3 class="text-uppercase letter-space-3 mb-30 text-theme-colored">
    Jak przebiegają wizyty
  </h3>

  <p class="text-justify">
    Pierwsza wizyta trwa około 60 minut, w tym czasie przeprowadzony zostanie szczegółowy wywiad żywieniowy
    i
    zdrowotny, wykonywana będzie analiza składu ciała, pomiary obwodów ciała.
  </p>

  <p class="text-justify">
    Otrzymujecie Państwo skierowanie na badania krwi oraz umowę o współpracy niezbędną do uruchomienia
    procedur związanych z konstruowaniem planu.
  </p>

  <p class="text-justify">
    Badania krwi można wykonać w dowolnym laboratorium Diagnostyki na terenie Krakowa (jest możliwość
    wykonania badań poza Krakowem w dowolnym punkcie pobrań Diagnostyki). Od momentu przekazania wyników
    badań
    do Aleksandry Kucharczyk zostaje wszczęty proces tworzenia planu. Na odbiór planu czekamy około 7 dni w
    zależności od stopnia złożoności planu związanego z towarzyszącymi jednostkami chorobowymi.
  </p>

  <p class="text-justify">
    Druga wizyta to odebranie indywidualnego planu żywieniowego Metabolic Balance.
  </p>

  <p class="text-justify">
    Pozostałe wizyty są kontrolne, podczas których w zależności od celu pacjenta wprowadzane są poszczególne
    fazy i zmiany w planie.
  </p>

  <p class="text-justify">
    Pakiet Metabolic Balance obejmuje:
  </p>

  <ul style="list-style: disc" class="pl-40 mb-30">
    <li>analizę 37 parametrów krwi (inne badania po dodatkowej opłacie*)</li>
    <li>opracowanie planu żywieniowego Metabolic Balance przez instytut medyczny w Isen w Niemczech (około
      40 stron zaleceń)
    </li>
    <li>10 wizyt, 1 na odbiór planu, pozostałe wizyty kontrolne zostają dowolnie rozłożone w czasie w
      zależności od potrzeb pacjenta
    </li>
    <li>kontakt telefoniczny lub e-mail</li>
    <li>wsparcie motywacyjne</li>
  </ul>

  <p class="text-justify">
    Inne badania po dodatkowej opłacie*
  </p>

  <p class="text-justify">
    Podczas wizyty możecie Państwo zostać poproszeni o wykonanie dodatkowych badań

    <a href="#" class="read-more-mb-how text-green font-weight-600">Czytaj więcej . . .</a>

    <span style="display: none" class="mb-how mt-20">
    których nie obejmuje
    pakiet Metabolic Balance, np. badania w kierunku rozpoznania celiakii lub trzy punktowa krzywa glukozy i
    insuliny po obciążeniu. Krzywa glukozy i insuliny to jedno z badań które polecam, dzięki badaniu mamy
    możliwość m.in. wyliczenia wskaźnika HOMA-IR, który jest badaniem w kierunku coraz częściej występującej
    insulinooporności. Umożliwia nam zobrazowanie gospodarki węglowodanowej pacjenta, co jest kluczowym
    elementem podczas prowadzenia pacjenta na planie żywieniowym.
  </span>

    <span style="display: none" class="mb-how mt-20">
    Większość pacjentów zgłaszających się do mnie ma zaburzenia węglowodanowe, które znacznie wpływają na
    samopoczucie, senność, osłabienie, czy ciągłe uczucie zmęczenia pacjenta, a przede wszystkim brak
    efektów stosowanych wcześniej diet. Wychodzimy Państwu naprzeciw, staramy się jak najdokładniej
    przeanalizować Państwa stan zdrowia co przekłada się na jeszcze lepsze efekty stosowania planów
    żywieniowych Metabolic Balance.
  </span>
  </p>


</p>
