<div class="metabolic-balance-part mb-phases" style="display: none;">
  <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
    4 fazy programu żywieniowego
  </h3>

  <p>
    Plan składa się z 4 faz, każda z nich ma określony pozytywny wpływ na organizm i jest kluczowa, aby na
    stałe
    wprowadzić zdrowe nawyki żywieniowe. Czas trwania poszczególnych faz ustala opiekun na podstawie
    określonego
    wcześniej celu pacjenta oraz możliwości organizmu.
  </p>

  <div class="icon-box flip sm-text-center p-0 mb-45 mt-sm-30">
    <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
      <i class="flaticon-spa-flowers-on-human-feet text-white font-36 no-rotate"></i>
    </a>
    <div>
      <h5 class="icon-box-title mt-0 mb-10"><strong>1 faza</strong></h5>
      <p>
        przygotowuje organizm do zmiany stylu życia, jest to oczyszczenie organizmu z dotychczas spożywanych
        produktów. Od tego momentu to co jemy ma sprzyjać naszemu zdrowiu. Wprowadzamy lekkie posiłki z
        odpowiednimi dla danej osoby produktami oraz dedykowaną formą ich przygotowania.
      </p>
    </div>
  </div>

  <div class="icon-box flip sm-text-center p-0 mb-45">
    <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
      <i class="flaticon-spa-spa-facial-treatment-with-mask-and-massages text-white no-rotate font-48"></i>
    </a>
    <div>
      <h5 class="icon-box-title mt-15 mb-10"><strong>2 faza</strong></h5>
      <p>
        czas trwania ustalany jest pod pacjenta, ma na celu m.in. uregulować przemianę materii. Pacjent
        otrzymuje indywidualnie dobrane wytyczne m.in. konkretną listę produktów, które w sposób przemyślany i
        kontrolowany mają odżywić organizm dostarczając niezbędnych składników odżywczych, witamin i
        minerałów.
        Wprowadzonych zostaje 8 zasad umożliwiających przestawienie organizmu na zdrowy sposób odżywiania. W
        zależności od celu pacjent poza naturalną utratą masy ciała, odczuwa lepsze samopoczucie, ma więcej
        energii. Nasz układ pokarmowy podejmuje z nami współpracę wracając do fizjologicznych zachowań.
      </p>
    </div>
  </div>

  <div class="icon-box flip sm-text-center p-0 mb-45">
    <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
      <i class="flaticon-spa-massage-and-spa text-white no-rotate"></i>
    </a>
    <div>
      <h5 class="icon-box-title mt-15 mb-10"><strong>3 faza</strong></h5>
      <p>
        stosowana pod nadzorem opiekuna, ponieważ wprowadzone zostają nowe produkty, które zostały wykluczone
        w
        początkowych fazach programu żywieniowego. Sprawdzamy i testujemy tworząc swoją idealną listę
        produktową. Wprowadzane są indywidualne zalecenia np. dowolne posiłki, zwiększenie aktywności
        fizycznej.
      </p>
    </div>
  </div>

  <div class="icon-box flip sm-text-center p-0 mb-45">
    <a href="#" class="icon mt-20 mb-30 mr-30 ml-30 pull-left flip sm-pull-none bg-theme-colored rotate">
      <i class="flaticon-spa-man-lying-on-a-deck-chair-of-a-spa text-white no-rotate font-42"></i>
    </a>
    <div>
      <h5 class="icon-box-title mt-15 mb-10"><strong>4 faza</strong></h5>
      <p>
        dla mnie faza 4 to „życie”. Co to znaczy? Sami umiemy podejmować decyzje związane z żywieniem, wiemy
        co
        nam służy, a co powoduje dyskomfort lub pogorszenie wyników badań. Faza ta rozpoczyna się w momencie
        osiągnięcia przez pacjenta celu estetycznego lub zdrowotnego i nie jest ograniczona czasowo. Masa
        ciała
        jest stabilna, ponieważ utrata tkanki tłuszczowej przebiegała w sposób niewymuszony czyli najbardziej
        odpowiedni dla organizmu, który sam dążył przy pomocy naturalnych składników do równowagi. Zasady
        metabolic balance zostają na całe życie, z perspektywy własnej i z obserwacji pacjentów znacznie je
        ułatwiając :)
    </div>
  </div>

  <a href="#" data-target="mb-how" class="mb-menu-tags read-more text-green font-weight-600">
    Jak rozpocząć?
  </a>
</div>
