<div class="metabolic-balance-part mb-program">
  <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
    Program Metabolic Balance
  </h3>

  <div class="row">
    <div class="col-md-9 mt-40">
      <p class="text-justify">
        Każdy organizm jest inny, nie ma jednego tak samo skutecznego planu żywieniowego dla każdego, dlatego
        powinien on być jak najbardziej indywidualnie ułożony pod Ciebie.
      </p>

      <p class="text-justify">
        Dzięki dokładnym badaniom krwi (37 parametrów) obrazujących m.in. pracę wątroby, nerek, trzustki,
        tarczycy
        czy poziom cukru, procesów zapalnych i ich analizie tworzone zostają plany żywieniowe, które w naturalny
        sposób prowadzą do równowagi w Twoim organizmie.
      </p>
    </div>

    <div class="col-md-3">
      <%= image_tag('uslugi/metabolic_balance/mb_labolatorium.jpg') %>
    </div>
  </div>

  <div class="row mt-20">
    <div class="col-md-3">
      <%= image_tag('uslugi/metabolic_balance/mb_doctor.jpg') %>
    </div>

    <div class="col-md-9 mt-40">
      <p class="text-justify">
        Metoda została stworzona przez dr med. Wolf Funfack we współpracy z wieloma specjalistami. Program
        dostępny jest w 35 krajach na całym świecie i cieszy się ogromną popularnością z uwagi na swoją
        niezawodność. Po przeprowadzeniu badań krwi, zebraniu wywiadu żywieniowego i zdrowotnego program zostaje
        przygotowywany po analizie specjalistów z różnych dziedzin, lekarzy i dietetyków w instytucie w Issen w
        Niemczech.
      </p>
    </div>
  </div>

  <h4 class=" letter-space-3 mt-50 mb-30 text-theme-colored">
    Stworzony pod daną jednostkę sposób odżywiania na całe życie
  </h4>

  <a href="#" class="read-more-mb-program text-green font-weight-600">Czytaj więcej o Metabolic Balance</a>
  <a href="#" class="read-less-mb-program text-green font-weight-600" style="display: none;">Czytaj mniej o Metabolic
    Balance</a>

  <div id="mb-program" style="display: none;" class="mt-20">

    <div class="row">
      <div class="col-md-9">
        <p class="text-justify">
          Wykonanie badań krwi jest kluczowym elementem planów Metabolic Balance, mówią nam jakich witamin i
          składników mineralnych brakuje naszemu organizmowi, aby uregulować naszą przemianę materii i
          gospodarkę hormonalną. Indywidualna lista produktów spożywczych tworzona w oparciu o dane z europejskiej bazy
          żywności oraz 8 zasad popartych badaniami m.in. 3 posiłki dziennie pozwalają na zmianę nawyków
          utrzymujących nasz organizm na najbardziej optymalnym poziomie przez długie lata.
        </p>

        <p class="text-justify">
          Każdy plan konstruowany jest indywidualnie zawierając zbilansowaną ilość składników odżywczych.
        </p>

        <p class="text-justify">
          Wybór produktów natomiast nie jest podyktowany ich wartością kaloryczną, natomiast reakcją organizmu
          na dany produkt spożywczy, możliwością wykorzystania składników oraz zapotrzebowaniem naszego organizmu
          na dane związki mineralne, witaminy.
        </p>
      </div>

      <div class="col-md-3 mt-40">
        <%= image_tag('uslugi/metabolic_balance/mb_jablko.jpg') %>
      </div>
    </div>

    <p class="text-justify">
      Ustalone przerwy między posiłkami czy budowa posiłków istotnie wpływają na utrzymanie odpowiedniego
      poziomu glukozy we krwi, pozwalają na kontrolowane wydzielanie insuliny, wyciszają stany zapalne
      toczące się w organizmie zapobiegając chorobom cywilizacyjnym m.in. cukrzycy, otyłości, czy nowotworom. Obciążeni
      wywiadem rodzinnym mamy większe szanse na pojawienie się pewnych jednostek chorobowych w naszych
      organizmach.
    </p>

    <div class="row mt-30">
      <div class="col-md-4 mt-10">
        <%= image_tag('uslugi/metabolic_balance/mb_pooc.jpg') %>
      </div>

      <div class="col-md-8">
        <p class="text-justify">
          Po zakończeniu programu nie występują niedobory składników odżywczych, witamin, minerałów dlatego też
          nie pojawia się efekt jojo. Mamy dużo energii i lepiej czujemy się ze swoim nowym wyglądem. Plany Metabolic
          Balance poza sferą fizyczną przyczyniają się do znacznej poprawy naszego stanu psychicznego.
        </p>

        <p class="text-justify">
          Dietoterapia z pomocą planów Metabolic Balance powoduje, że wiele schorzeń ustępuję znacznie lub
          całkowicie, lekarz prowadzący ma możliwość zmniejszenia dawki leku lub decyduje o wycofania leczenia
          farmakologicznego.
        </p>
      </div>
    </div>

    <p class="text-justify">
      Bez wątpienia Sam Smith i Boy George pomogli wprowadzić plany na światło dziennie jednak nie jest to
      sposób odżywiania tylko dla celebrytów, ale i osób które świadomie podchodzą do swojego zdrowia i
      swojego ciała. Wszystko zaczyna się w głowie.
    </p>

    <a href="#" data-target="mb-who" class="mb-menu-tags text-green font-weight-600">
      Więc komu możemy pomóc?
    </a>
  </div>
</div>
