<div class="metabolic-balance-part mb-who" style="display: none;">
  <h3 class="text-uppercase letter-space-3 mb-30 mt-0 text-theme-colored">
    Komu możemy pomóc?
  </h3>

  <p class="text-justify">
    Plany Metabolic Balance przeznaczone są dla osób, które chcą utrzymać swój organizm w zdrowiu, chciałyby
    poprawić swój stan zdrowia lub zmniejszyć masę ciała. Dietoterapia w znaczny sposób wpływa na schorzenia i
    dolegliwości takie jak:
  </p>

  <ul style="list-style: disc" class="pl-40 mb-20">
    <li>nadwaga i otyłość</li>
    <li>insulinooporność</li>
    <li>cukrzyca typu II</li>
    <li>zaburzenia trawienne, zespół jelita drażliwego, uchyłkowatość, dolegliwości żołądkowe</li>
    <li>dolegliwości ze strony wątroby</li>
    <li>zaburzenia związane z libido</li>
    <li>niepłodność związana z zaburzeniami hormonalnymi</li>
    <li>zespół policystycznych jajników</li>
    <li>endometrioza</li>
    <li>dolegliwości związane z menopauzą</li>
    <li>choroby tarczycy: niedoczynność, nadczynność, Hashimoto</li>
    <li>migrena, ból głowy, zawroty głowy</li>
    <li>alergie i nietolerancje</li>
    <li>depresja, zaburzenia nastroju</li>
    <li>zaburzenia snu, przewlekłe zmęczenie</li>
    <li>astma</li>
    <li>zapalne choroby jelit, celiakia, choroba Leśniowskiego-Crohna, zapalenie jelita grubego</li>
    <li>choroba wieńcowa, miażdżyca, nadciśnienie</li>
    <li>choroby skóry, atopowe zapalenie skóry, łuszczyca, trądzik</li>
    <li>choroby reumatyczne, bóle stawów</li>
    <li>osteoporoza</li>
    <li>stwardnienie rozsiane</li>
  </ul>

  <a href="#" class="read-more-mb-who text-green font-weight-600">Czytaj więcej . . .</a>
  <a href="#" class="read-less-mb-who text-green font-weight-600" style="display: none;">Czytaj mniej . . .</a>

  <div id="mb-who" style="display: none" class="mt-20">

    <div class="row">
      <div class="col-md-8">
        <p class="text-justify">
          Plany żywieniowe Metabolic Balance to więcej niż tylko utrata masy ciała. Pomagają kształtować nawyki
          poprzez rozsądne wzorce żywieniowe, koncentrując się na pełnowartościowych pokarmach (bez suplementów,
          produktów dietetycznych). Program działa na najbardziej podstawowym poziomie, aby przywrócić
          równowagę biochemiczną, tzn.
        </p>

        <ol type="1" style="list-style: decimal" class="pl-40 mt-20">
          <li>
            zwiększa spalanie tkanki tłuszczowej
          </li>
          <li>
            zmniejsza stany zapalne
          </li>
          <li>
            przywraca równowagę hormonalną
          </li>
        </ol>
      </div>

      <div class="col-md-4">
        <%= image_tag('uslugi/metabolic_balance/mb_posilek.jpg') %>
      </div>
    </div>

    <h4 class=" letter-space-3 mt-30 mb-30 text-theme-colored">
      Podejście to opiera się na solidnej wiedzy naukowej.
    </h4>

    <p class="text-justify">
      Głównym zadaniem planów żywieniowych Metabolic Balance jest stabilizacja gospodarki hormonalnej organizmu,
      która nieuregulowana przyczynia się do wzrostu masy ciała, następnie przyczyniając się do nasilenia stanów
      zapalnych powoduje powstawanie chorób, zaburzając naturalny rytm pracy naszych organizmów.
    </p>

    <a href="#" data-target="mb-phases" class="mb-menu-tags read-more text-green font-weight-600">
      Jak przebiega plan żywieniowy?
    </a>
  </div>
</div>
